<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>canmoubu_baoguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,555},{95,97}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,53},{95,97}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,921},{153,153}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{153,153}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,407},{197,199}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,199}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,208},{197,203}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,382},{197,203}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,208},{197,203}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,407},{197,201}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,201}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,533},{197,193}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,193}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,827},{121,139}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,22},{121,139}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,563},{121,137}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,23},{121,137}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{121,135}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,23},{121,135}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,929},{121,135}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{121,135}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1052},{119,125}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,30},{119,125}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,315},{119,101}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,53},{119,101}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>canmoubu_baoguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,436},{117,97}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,54},{117,97}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>part-canmoubu_guang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,208},{172,204}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,22},{172,204}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>part-canmoubu_guang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,208},{242,204}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,23},{242,204}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>part-canmoubu_guang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,208},{280,204}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{280,204}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>part-canmoubu_guang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{286,204}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{286,204}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>part-canmoubu_guang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,208},{292,204}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{292,204}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>part-canmoubu_guang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,2},{300,204}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{300,204}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>part-canmoubu_guang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,2},{306,204}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{306,204}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>part-canmoubu_guang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{310,204}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{310,204}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>part-canmoubu_guang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{312,204}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{312,204}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>part-canmoubu_guang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{314,204}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{314,204}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>part-canmoubu_guang_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,206}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{314,206}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>part-canmoubu_heidong0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,208},{109,105}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{109,105}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,686},{143,139}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,26},{143,139}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,766},{153,159}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{153,159}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,766},{161,163}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{161,163}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,764},{171,165}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{171,165}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,591},{173,175}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{173,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{173,175}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{173,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,591},{175,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,173}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,690},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,606},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,606},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,581},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,414},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,414},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,414},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,414},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,356},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,179},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,591},{175,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{175,171}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,762},{169,175}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{169,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,728},{175,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,173}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,591},{175,169}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{175,169}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,758},{171,163}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{171,163}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{161,157}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{161,157}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_heidong0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,414},{147,137}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{147,137}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>part-canmoubu_lizi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1152},{46,59}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{46,59}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1200},{40,59}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{40,59}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,931},{42,59}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{42,59}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1102},{48,59}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{48,59}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1052},{48,59}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,17},{48,59}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,783},{50,63}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{50,63}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,783},{46,65}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{46,65}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1227},{48,69}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{48,69}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1173},{52,69}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{52,69}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1177},{48,81}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{48,81}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1173},{50,81}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{50,81}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1227},{54,79}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{54,79}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1150},{52,81}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{52,81}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,931},{54,83}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{54,83}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,716},{54,93}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{54,93}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,598},{54,95}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{54,95}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,478},{58,97}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{58,97}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,538},{58,95}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{58,95}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,416},{60,97}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{60,97}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,654},{60,93}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{60,93}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,974},{62,85}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{62,85}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,908},{64,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{64,85}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,840},{66,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{66,85}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,772},{66,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{66,85}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1105},{70,83}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{70,83}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1076},{70,81}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{70,81}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1076},{72,81}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,30},{72,81}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,933},{72,81}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,32},{72,81}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1032},{74,81}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,34},{74,81}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1272},{74,79}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,36},{74,79}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1008},{78,81}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,36},{78,81}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,933},{78,81}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,38},{78,81}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1225},{80,79}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,41},{80,79}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,606},{82,77}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,44},{82,77}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,931},{82,75}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{82,75}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1227},{80,75}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,48},{80,75}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1038},{84,65}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,50},{84,65}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,783},{74,53}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,61},{74,53}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1347},{74,57}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,61},{74,57}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{76,41}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,68},{76,41}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,992},{76,41}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,70},{76,41}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1227},{80,43}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,70},{80,43}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>part-canmoubu_lizi_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,987},{82,43}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,71},{82,43}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>canmoubu_shuaxin.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80b15c816a3d95d3ae146e61ab191f73:1/1$</string>
            <key>textureFileName</key>
            <string>canmoubu_shuaxin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
