<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-canmoubu_shuaxingaoji0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1276},{174,204}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,22},{174,204}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1800},{242,206}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,22},{242,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1564},{282,210}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{282,210}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1748},{286,212}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{286,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1784},{292,212}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{292,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1798},{300,214}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{300,214}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1476},{306,212}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,23},{306,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1486},{310,214}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{310,214}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{312,212}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{312,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1062},{314,212}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{314,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,648},{316,212}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,436},{316,212}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,436},{316,212}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,224},{316,212}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,218},{316,214}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,214}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,224},{316,212}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{316,212}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,434},{316,212}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{316,210}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,210}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{316,218}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,218}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{316,220}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,220}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{316,220}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,220}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,220}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,220}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{316,218}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,218}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,2},{316,214}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,214}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,222},{316,212}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,222},{316,212}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,212}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,862},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,858},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,858},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,854},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{316,204}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,204}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,854},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,650},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,650},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1062},{316,204}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{316,204}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,646},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,646},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,438},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,438},{316,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{316,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1268},{314,206}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{314,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0087、.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{312,206}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{312,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1476},{310,206}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{310,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1066},{306,206}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{306,206}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1070},{300,204}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{300,204}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1452},{294,204}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{294,204}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1276},{286,204}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{286,204}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1274},{282,204}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{282,204}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1798},{242,204}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,23},{242,204}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
            <key>part-canmoubu_shuaxingaoji0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1276},{174,204}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,22},{174,204}}</string>
                <key>sourceSize</key>
                <string>{320,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>canmoubu_shuaxingaoji.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4a888cb3e09c92d22fe4533ee162a72:1/1$</string>
            <key>textureFileName</key>
            <string>canmoubu_shuaxingaoji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
