<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-rongyaozhixing_tx_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,626},{616,148}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{616,148}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1096},{618,150}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{618,150}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,942},{618,152}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{618,152}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,788},{618,152}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{618,152}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,626},{620,156}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{620,156}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,476},{620,156}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{620,156}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,320},{620,156}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{620,156}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,318},{620,156}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{620,156}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,162},{620,156}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{620,156}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1874},{620,156}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{620,156}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1250},{622,158}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{622,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,626},{622,158}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{622,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1250},{622,158}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{622,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,2},{622,160}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{622,160}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,626},{622,158}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,27},{622,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{622,158}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{622,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{624,158}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{624,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{622,158}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{622,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{624,158}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{624,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,158}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{624,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1874},{622,158}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{622,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{622,158}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,29},{622,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{622,158}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,27},{622,158}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1250},{622,156}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,29},{622,156}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,626},{622,156}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,28},{622,156}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,162},{622,154}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{622,154}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,634},{620,152}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,29},{620,152}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1248},{616,148}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{616,148}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,478},{614,146}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{614,146}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>part-rongyaozhixing_tx_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1248},{612,144}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,33},{612,144}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>canmoubu_rongyaozhixing.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b38607497e1bf2c55e3c5303f9c0ab94:1/1$</string>
            <key>textureFileName</key>
            <string>canmoubu_rongyaozhixing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
