<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-chunjie_denglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{62,96}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{62,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>part-chunjie_denglong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{74,80}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{74,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-chunjie_denglong10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,132}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{124,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-chunjie_denglong11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{124,128}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{124,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-chunjie_denglong12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,392},{124,118}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{124,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-chunjie_denglong13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,266},{124,120}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,21},{124,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-chunjie_denglong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,398},{88,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{88,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-chunjie_denglong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{100,118}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{100,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-chunjie_denglong6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{120,126}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{120,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-chunjie_denglong7.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,130},{116,124}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{116,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-chunjie_denglong8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,136},{118,128}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{118,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-chunjie_denglong9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{120,130}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{120,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuijie_bianpao9.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb76981cea7d154ba207ac8285160d84$</string>
            <key>textureFileName</key>
            <string>chuijie_bianpao9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
