<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-cj_qiang_gun0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,208}}</string>
                <key>offset</key>
                <string>{13,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,242},{400,208}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>part-cj_qiang_gun0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{324,216}}</string>
                <key>offset</key>
                <string>{41,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,234},{324,216}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>part-cj_qiang_gun0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{286,240}}</string>
                <key>offset</key>
                <string>{31,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,210},{286,240}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>part-cj_qiang_gun0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,690},{266,280}}</string>
                <key>offset</key>
                <string>{2,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,170},{266,280}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>part-cj_qiang_gun0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{258,308}}</string>
                <key>offset</key>
                <string>{-13,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,142},{258,308}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cj_qiang.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d817a964221c77466b6ffdc375734e97:1/1$</string>
            <key>textureFileName</key>
            <string>cj_qiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
