<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-cmpz_tx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,314},{109,111}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,60},{109,111}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{175,175}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{175,175}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx03.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{225,227}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,227}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{225,231}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{225,231}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,231}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{225,229}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,229}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx08.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{225,221}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{225,221}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx09.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{139,157}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,27},{139,157}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx10.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,143},{137,157}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,26},{137,157}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx11.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,179},{133,155}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,26},{133,155}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx12.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,282},{133,153}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,26},{133,153}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx13.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,225},{129,143}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,34},{129,143}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx14.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,229},{127,115}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{127,115}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>part-cmpz_tx15.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,346},{125,111}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{125,111}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cmpz_tx_mc.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e8fa3387ee16677462fc946f721af62:1/1$</string>
            <key>textureFileName</key>
            <string>cmpz_tx_mc.pvr.ccz</string>
        </dict>
    </dict>
</plist>
