<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-cuilian_guangxiao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,228},{208,212}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,41},{208,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{216,224}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{216,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,796},{224,236}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,32},{224,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,438},{230,246}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{230,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,540},{232,254}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{232,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{234,260}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{234,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{238,266}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{238,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao17.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{242,272}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{242,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,276}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{250,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,438},{83,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,93}}</string>
                <key>sourceSize</key>
                <string>{83,93}</string>
            </dict>
            <key>part-cuilian_guangxiao21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{256,272}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{256,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao23.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,554},{254,264}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{254,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao24.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,276},{252,262}}</string>
                <key>offset</key>
                <string>{-19,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,38},{252,262}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cuilian_guangxiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,438},{99,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,114}}</string>
                <key>sourceSize</key>
                <string>{99,114}</string>
            </dict>
            <key>part-cuilian_guangxiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,670},{116,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{116,132}</string>
            </dict>
            <key>part-cuilian_guangxiao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,670},{136,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,149}}</string>
                <key>sourceSize</key>
                <string>{136,149}</string>
            </dict>
            <key>part-cuilian_guangxiao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,264},{155,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,163}}</string>
                <key>sourceSize</key>
                <string>{155,163}</string>
            </dict>
            <key>part-cuilian_guangxiao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,820},{171,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,175}}</string>
                <key>sourceSize</key>
                <string>{171,175}</string>
            </dict>
            <key>part-cuilian_guangxiao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,822},{185,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,189}}</string>
                <key>sourceSize</key>
                <string>{185,189}</string>
            </dict>
            <key>part-cuilian_guangxiao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{198,202}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,44},{198,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-xjn_shengji_tx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,264},{85,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{85,84}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cuilian_huode_guangxiao.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2758aa0fd094340b0630a0b73e89e1f4:1/1$</string>
            <key>textureFileName</key>
            <string>cuilian_huode_guangxiao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
