<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-cuilian_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,85}}</string>
                <key>sourceSize</key>
                <string>{161,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cuilianx3.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea4dcd4c73d7d1039a6e7a3b7f3fdf8f:1/1$</string>
            <key>textureFileName</key>
            <string>cuilianx3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
