<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-jbgc_zbdz_jiqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,322},{64,89}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{64,89}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>part-jbgc_zbdz_jiqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,537},{108,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,67}}</string>
                <key>sourceSize</key>
                <string>{108,67}</string>
            </dict>
            <key>part-jbgc_zbdz_jiqi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,388},{73,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>part-jbgc_zbdz_jiqi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,168},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>part-jbgc_zbdz_jiqi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,786},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>part-jbgc_zbdz_jiqi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,463},{72,83}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>part-jbgc_zbdz_tx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,168},{152,282}}</string>
                <key>offset</key>
                <string>{-17,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{152,282}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx10.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,652},{132,308}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{132,308}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx11.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1414},{142,326}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{142,326}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{152,344}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{152,344}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{162,354}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{162,354}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx14.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,930},{178,348}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{178,348}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{198,354}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,354}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx16.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{198,356}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{198,356}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,356}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{202,356}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx18.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1110},{154,348}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{154,348}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx19.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1446},{154,338}}</string>
                <key>offset</key>
                <string>{-27,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,338}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{164,296}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{164,296}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx20.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,478},{116,356}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{116,356}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{112,350}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{112,350}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{122,348}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{122,348}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx23.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,350},{126,356}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{126,356}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{134,356}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{134,356}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{140,356}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{140,356}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx26.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,202},{146,356}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{146,356}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx27.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,776},{152,354}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{152,354}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx28.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1252},{160,310}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{160,310}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1720},{168,324}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{168,324}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1102},{148,318}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{148,318}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx30.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1266},{178,340}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{178,340}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{162,336}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{162,336}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,596},{178,354}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{178,354}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,786},{192,314}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{192,314}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,322},{200,328}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{200,328}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{154,338}}</string>
                <key>offset</key>
                <string>{-27,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{154,338}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
            <key>part-jbgc_zbdz_tx9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{158,348}}</string>
                <key>offset</key>
                <string>{-25,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,348}}</string>
                <key>sourceSize</key>
                <string>{208,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dazhaozhuangbei.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e16f489649e766f95389bd27be4708c3:1/1$</string>
            <key>textureFileName</key>
            <string>dazhaozhuangbei.pvr.ccz</string>
        </dict>
    </dict>
</plist>
