<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nyhx_mingzi_genghuan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,442},{60,37}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{60,37}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>part-nyhx_mingzi_genghuan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,387},{106,37}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{106,37}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>part-nyhx_mingzi_genghuan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{120,37}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{120,37}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>part-nyhx_mingzi_genghuan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,304},{136,75}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>part-nyhx_mingzi_genghuan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{148,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>part-nyhx_mingzi_genghuan_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>part-nyhx_mingzi_genghuan_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>part-nyhx_mingzi_genghuan_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>part-nyhx_mingzi_genghuan_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>part-nyhx_mingzi_genghuan_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>part-nyhx_mingzi_genghuan_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{148,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>part-nyhx_mingzi_genghuan_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{136,75}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dengjimingcheng_genghuan.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f8c2d5b88be53a50824828dd023d83d:1/1$</string>
            <key>textureFileName</key>
            <string>dengjimingcheng_genghuan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
