<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-huojiandan_baozha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,186}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{150,186}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{148,170}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{148,168}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,190},{142,172}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{142,172}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{144,162}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{144,162}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,530},{140,162}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{140,162}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,718},{142,162}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{142,162}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,882},{140,162}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{140,162}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,552},{142,164}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,164}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,174},{134,164}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{134,164}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,364},{138,164}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{138,164}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,694},{150,156}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{150,156}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{130,164}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{130,164}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,168},{126,164}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{126,164}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,852},{128,144}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,55},{128,144}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,334},{122,140}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,47},{122,140}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,852},{122,154}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{122,154}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{130,180}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{130,180}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{132,186}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{132,186}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{142,178}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{142,178}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>part-huojiandan_baozha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,378},{142,172}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,172}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huojiandan_baozha.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aa9e371d453beabb8545666bed4a2a9:1/1$</string>
            <key>textureFileName</key>
            <string>huojiandan_baozha.pvr.ccz</string>
        </dict>
    </dict>
</plist>
