<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-tanke_kaipao_yanchen10.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,210},{81,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,71}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,384},{63,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{71,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,67}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen7.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,283},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,70}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen8.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,137},{81,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,71}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen9.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,64},{81,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,71}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>part-xiaotk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,188},{46,29}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{46,29}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>part-xiaotk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,236},{48,27}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,27}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>part-yanxi_kaipao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,36},{26,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,100}}</string>
                <key>sourceSize</key>
                <string>{26,102}</string>
            </dict>
            <key>part-yanxi_kaipao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,133}}</string>
                <key>sourceSize</key>
                <string>{50,133}</string>
            </dict>
            <key>part-yanxi_kaipao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{32,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,112}}</string>
                <key>sourceSize</key>
                <string>{32,112}</string>
            </dict>
            <key>part-yanxi_kaipao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,64},{32,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,122}}</string>
                <key>sourceSize</key>
                <string>{32,122}</string>
            </dict>
            <key>part-yanxi_kaipao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{36,125}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{36,125}}</string>
                <key>sourceSize</key>
                <string>{36,133}</string>
            </dict>
            <key>part-yanxi_kaipao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{39,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,127}}</string>
                <key>sourceSize</key>
                <string>{39,127}</string>
            </dict>
            <key>part-yanxi_kaipao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{39,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{39,133}}</string>
                <key>sourceSize</key>
                <string>{53,133}</string>
            </dict>
            <key>part-yanxi_kaipao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{43,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{43,133}}</string>
                <key>sourceSize</key>
                <string>{53,133}</string>
            </dict>
            <key>part-yanxi_kaipao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{45,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{45,133}}</string>
                <key>sourceSize</key>
                <string>{53,133}</string>
            </dict>
            <key>part-yanxi_kaipao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{47,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,133}}</string>
                <key>sourceSize</key>
                <string>{53,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>junshi_tanke.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:972e559fc5590d77d2cee31b4b378373$</string>
            <key>textureFileName</key>
            <string>junshi_tanke.pvr.ccz</string>
        </dict>
    </dict>
</plist>
