<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-kehecheng_guangquan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,40},{22,20}}</string>
                <key>offset</key>
                <string>{-39,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,100},{22,20}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,444},{62,60}}</string>
                <key>offset</key>
                <string>{-39,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,82},{62,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,410},{86,84}}</string>
                <key>offset</key>
                <string>{-30,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,61},{86,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,298},{110,110}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,152},{136,136}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{136,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,150},{146,146}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{148,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{148,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{144,142}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{138,136}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{138,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,290},{122,118}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{122,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,410},{98,92}}</string>
                <key>offset</key>
                <string>{23,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{74,64}}</string>
                <key>offset</key>
                <string>{31,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,4},{74,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{42,36}}</string>
                <key>offset</key>
                <string>{35,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,15},{42,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{14,10}}</string>
                <key>offset</key>
                <string>{41,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,23},{14,10}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-kehecheng_guangquan_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{14,10}}</string>
                <key>offset</key>
                <string>{41,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,23},{14,10}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kehecheng.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4abec03b2272cd4fa05db787926945f1:1/1$</string>
            <key>textureFileName</key>
            <string>kehecheng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
