<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-honglihua0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,843},{38,38}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{38,38}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,64},{68,60}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{68,60}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,942},{84,80}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{84,80}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,907},{98,92}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{98,92}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,840},{106,100}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{106,100}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,315},{112,106}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{112,106}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,731},{116,110}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{116,110}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{120,114}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{120,114}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,610},{122,116}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{122,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,378},{124,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,677},{124,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,611},{124,118}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,492},{124,118}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,490},{124,118}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,374},{124,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{124,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{124,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{122,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{122,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,727},{120,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{120,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-honglihua0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,612},{120,112}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{120,112}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,880},{38,38}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{38,38}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{68,60}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{68,60}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1001},{84,80}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{84,80}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,843},{98,92}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{98,92}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{106,100}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{106,100}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,201},{112,106}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{112,106}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,728},{116,110}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{116,110}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,734},{120,114}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{120,114}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,498},{122,116}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{122,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,258},{124,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{124,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,258},{124,118}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,491},{124,118}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,372},{124,118}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,371},{124,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,551},{124,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{124,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,496},{122,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{122,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{120,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{120,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,429},{120,112}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{120,112}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-huanglihua0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,840},{116,104}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{116,104}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,840},{38,38}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{38,38}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,946},{54,50}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{54,50}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1041},{76,70}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{76,70}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,937},{90,88}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{90,88}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1023},{102,96}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{102,96}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,850},{110,102}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{110,102}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,845},{114,108}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{114,108}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,726},{118,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{118,112}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,732},{120,114}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{120,114}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,494},{122,116}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{122,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,370},{124,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,252},{124,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,251},{124,118}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,131},{124,118}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,254},{124,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,250},{124,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,378},{122,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{122,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,616},{120,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{120,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,614},{120,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{120,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lanlihua0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,797},{116,108}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{116,108}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>part-lihuao3o3.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,907},{45,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,57}}</string>
                <key>sourceSize</key>
                <string>{45,57}</string>
            </dict>
            <key>part-lihuashu_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,140}}</string>
                <key>sourceSize</key>
                <string>{71,140}</string>
            </dict>
            <key>part-lvlihua0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,797},{41,39}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{41,39}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,126},{73,65}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{73,65}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,954},{89,85}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{89,85}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,954},{105,99}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{105,99}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,848},{113,109}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{113,109}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,612},{121,113}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{121,113}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,131},{125,119}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{125,119}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,131},{129,121}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{129,121}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{131,125}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{131,125}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{133,127}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{133,127}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{133,127}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{133,127}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{133,127}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{133,127}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{133,127}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{133,127}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{133,127}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{133,127}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{133,127}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{133,127}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{133,127}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{133,127}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,131},{131,125}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{131,125}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,131},{129,125}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{129,125}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>part-lvlihua0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,131},{129,117}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{129,117}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lihua.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96001312680c8ed337f7a7b403692c6e:1/1$</string>
            <key>textureFileName</key>
            <string>lihua.pvr.ccz</string>
        </dict>
    </dict>
</plist>
