<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-xiaorenpao_bai_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,20},{4,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,7}}</string>
                <key>sourceSize</key>
                <string>{4,7}</string>
            </dict>
            <key>part-xiaorenpao_bai_ziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,104},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>part-xiaorenpao_bai_ziti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,45},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{4,6}</string>
            </dict>
            <key>part-xiaorenpao_bai_ziti10.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,84},{3,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,7}}</string>
                <key>sourceSize</key>
                <string>{3,7}</string>
            </dict>
            <key>part-xiaorenpao_bai_ziti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,96},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>part-xiaorenpao_bai_ziti3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{8,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,15}</string>
            </dict>
            <key>part-xiaorenpao_bai_ziti4.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,78},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>part-xiaorenpao_bai_ziti5.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,94},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{6,8}</string>
            </dict>
            <key>part-xiaorenpao_bai_ziti6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,67},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>part-xiaorenpao_bai_ziti7.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,78},{8,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,3}}</string>
                <key>sourceSize</key>
                <string>{8,3}</string>
            </dict>
            <key>part-xiaorenpao_bai_ziti8.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,93},{3,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,6}}</string>
                <key>sourceSize</key>
                <string>{3,6}</string>
            </dict>
            <key>part-xiaorenpao_bai_ziti9.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,83},{8,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,3}}</string>
                <key>sourceSize</key>
                <string>{8,3}</string>
            </dict>
            <key>part-xiaorenpao_huang_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,11},{4,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,7}}</string>
                <key>sourceSize</key>
                <string>{4,7}</string>
            </dict>
            <key>part-xiaorenpao_huang_ziti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,37},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{4,6}</string>
            </dict>
            <key>part-xiaorenpao_huang_ziti10.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,78},{8,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,3}}</string>
                <key>sourceSize</key>
                <string>{8,3}</string>
            </dict>
            <key>part-xiaorenpao_huang_ziti11.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,86},{3,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,7}}</string>
                <key>sourceSize</key>
                <string>{3,7}</string>
            </dict>
            <key>part-xiaorenpao_huang_ziti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,93},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>part-xiaorenpao_huang_ziti3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{8,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,15}</string>
            </dict>
            <key>part-xiaorenpao_huang_ziti4.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,114},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>part-xiaorenpao_huang_ziti5.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,84},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{6,8}</string>
            </dict>
            <key>part-xiaorenpao_huang_ziti6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,60},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>part-xiaorenpao_huang_ziti7.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,94},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>part-xiaorenpao_huang_ziti8.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,78},{8,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,3}}</string>
                <key>sourceSize</key>
                <string>{8,3}</string>
            </dict>
            <key>part-xiaorenpao_huang_ziti9.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,91},{3,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,6}}</string>
                <key>sourceSize</key>
                <string>{3,6}</string>
            </dict>
            <key>part-xiaorenpao_lan_jiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,88},{3,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,6}}</string>
                <key>sourceSize</key>
                <string>{3,6}</string>
            </dict>
            <key>part-xiaorenpao_lan_jiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{8,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,3}}</string>
                <key>sourceSize</key>
                <string>{8,3}</string>
            </dict>
            <key>part-xiaorenpao_lan_shengti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{8,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,15}</string>
            </dict>
            <key>part-xiaorenpao_lan_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{4,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,7}}</string>
                <key>sourceSize</key>
                <string>{4,7}</string>
            </dict>
            <key>part-xiaorenpao_lan_ziti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,29},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{4,6}</string>
            </dict>
            <key>part-xiaorenpao_lan_ziti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,89},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>part-xiaorenpao_lan_ziti3.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,83},{3,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,7}}</string>
                <key>sourceSize</key>
                <string>{3,7}</string>
            </dict>
            <key>part-xiaorenpao_lan_ziti4.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,104},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>part-xiaorenpao_lan_ziti5.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,114},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{6,8}</string>
            </dict>
            <key>part-xiaorenpao_lan_ziti6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,53},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>part-xiaorenpao_lan_ziti7.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,84},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>part-xiaorenpao_lan_ziti8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,74},{8,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,3}}</string>
                <key>sourceSize</key>
                <string>{8,3}</string>
            </dict>
            <key>part-xiaorenpao_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lurkspyrun.pvr.ccz</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ee7a232e96d0d99d6c098441e0cc861:1/1$</string>
            <key>textureFileName</key>
            <string>lurkspyrun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
