<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-shouji_lvguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,423},{107,93}}</string>
                <key>offset</key>
                <string>{99,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,149},{107,93}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{173,171}}</string>
                <key>offset</key>
                <string>{51,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,135},{173,171}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,718},{167,169}}</string>
                <key>offset</key>
                <string>{50,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,136},{167,169}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,543},{167,163}}</string>
                <key>offset</key>
                <string>{45,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,140},{167,163}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,543},{169,159}}</string>
                <key>offset</key>
                <string>{41,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,144},{169,159}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,712},{163,153}}</string>
                <key>offset</key>
                <string>{38,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,149},{163,153}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,867},{155,149}}</string>
                <key>offset</key>
                <string>{36,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,150},{155,149}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{135,131}}</string>
                <key>offset</key>
                <string>{31,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,163},{135,131}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,310},{111,111}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,178},{111,111}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,135},{173,111}}</string>
                <key>offset</key>
                <string>{68,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,141},{173,111}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{177,175}}</string>
                <key>offset</key>
                <string>{65,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,128},{177,175}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{177,181}}</string>
                <key>offset</key>
                <string>{64,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,125},{177,181}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{175,183}}</string>
                <key>offset</key>
                <string>{64,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,125},{175,183}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,181}}</string>
                <key>offset</key>
                <string>{58,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,127},{183,181}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,181}}</string>
                <key>offset</key>
                <string>{56,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,127},{183,181}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,185},{181,179}}</string>
                <key>offset</key>
                <string>{54,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,129},{181,179}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
            <key>part-shouji_lvguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,366},{177,175}}</string>
                <key>offset</key>
                <string>{52,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,132},{177,175}}</string>
                <key>sourceSize</key>
                <string>{487,465}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvguang_shouji.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edf48c5f1801b5b8bf23252cd8a2e26c:1/1$</string>
            <key>textureFileName</key>
            <string>lvguang_shouji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
