<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-mmgq_chuanjiadanxian0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,396},{132,66}}</string>
                <key>offset</key>
                <string>{-106,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,37},{132,66}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{140,70}}</string>
                <key>offset</key>
                <string>{-104,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{140,70}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,400},{146,82}}</string>
                <key>offset</key>
                <string>{-102,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{146,82}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,548},{150,98}}</string>
                <key>offset</key>
                <string>{-100,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{150,98}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,462},{160,104}}</string>
                <key>offset</key>
                <string>{-96,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{160,104}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,308},{170,106}}</string>
                <key>offset</key>
                <string>{-91,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{170,106}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{178,108}}</string>
                <key>offset</key>
                <string>{-88,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{178,108}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,500},{186,108}}</string>
                <key>offset</key>
                <string>{-85,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{186,108}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,470},{196,110}}</string>
                <key>offset</key>
                <string>{-79,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{196,110}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,294},{218,110}}</string>
                <key>offset</key>
                <string>{-67,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{218,110}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,212},{240,110}}</string>
                <key>offset</key>
                <string>{-55,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{240,110}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,112},{262,110}}</string>
                <key>offset</key>
                <string>{-43,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{262,110}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{282,110}}</string>
                <key>offset</key>
                <string>{-33,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{282,110}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{304,108}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{304,108}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,106}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{322,106}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{318,104}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{318,104}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,108},{298,102}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,19},{298,102}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{292,96}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,23},{292,96}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{274,78}}</string>
                <key>offset</key>
                <string>{35,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,31},{274,78}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{256,70}}</string>
                <key>offset</key>
                <string>{44,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,36},{256,70}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,260},{238,70}}</string>
                <key>offset</key>
                <string>{54,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,36},{238,70}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,324},{232,70}}</string>
                <key>offset</key>
                <string>{57,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,35},{232,70}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,224},{224,68}}</string>
                <key>offset</key>
                <string>{61,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,36},{224,68}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,396},{214,64}}</string>
                <key>offset</key>
                <string>{66,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,38},{214,64}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,406},{206,62}}</string>
                <key>offset</key>
                <string>{70,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,39},{206,62}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,112},{194,60}}</string>
                <key>offset</key>
                <string>{75,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,40},{194,60}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,212},{184,58}}</string>
                <key>offset</key>
                <string>{80,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,41},{184,58}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,398},{172,52}}</string>
                <key>offset</key>
                <string>{85,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,46},{172,52}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{162,48}}</string>
                <key>offset</key>
                <string>{89,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,49},{162,48}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>part-mmgq_chuanjiadanxian0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,208},{148,34}}</string>
                <key>offset</key>
                <string>{94,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,58},{148,34}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mmwq_right_s_w_101.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c501ba93340a2c180c5ade06181846d:1/1$</string>
            <key>textureFileName</key>
            <string>mmwq_right_s_w_101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
