<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-mmwq_jinengshuaxing0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,206}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{640,206}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,594},{592,192}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{592,192}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{404,196}}</string>
                <key>offset</key>
                <string>{117,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,14},{404,196}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,838},{386,84}}</string>
                <key>offset</key>
                <string>{126,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,63},{386,84}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,860},{378,124}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,42},{378,124}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{608,206}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{608,206}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,206},{640,186}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{640,186}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,594},{578,68}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,70},{578,68}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2040,2},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,104.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1674},{320,198}}</string>
                <key>offset</key>
                <string>{124,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,12},{320,198}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{640,202}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{640,202}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,204}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{640,204}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{298,110}}</string>
                <key>offset</key>
                <string>{-171,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{298,110}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1226},{260,174}}</string>
                <key>offset</key>
                <string>{98,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,34},{260,174}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1670},{294,198}}</string>
                <key>offset</key>
                <string>{172,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,12},{294,198}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{380,204}}</string>
                <key>offset</key>
                <string>{-52,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,6},{380,204}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1032},{424,204}}</string>
                <key>offset</key>
                <string>{-108,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{424,204}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{344,192}}</string>
                <key>offset</key>
                <string>{-148,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{344,192}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,504},{612,206}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{612,206}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1488},{234,180}}</string>
                <key>offset</key>
                <string>{163,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,30},{234,180}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1240},{314,204}}</string>
                <key>offset</key>
                <string>{-48,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,6},{314,204}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{432,200}}</string>
                <key>offset</key>
                <string>{-104,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{432,200}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,394},{622,198}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{622,198}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,834},{576,196}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{576,196}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{494,138}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,42},{494,138}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{640,148}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{640,148}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,208},{640,148}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{640,148}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,358},{640,144}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{640,144}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{640,136}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{640,136}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{640,130}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{640,130}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,712},{586,120}}</string>
                <key>offset</key>
                <string>{25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{586,120}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,302},{556,108}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,62},{556,108}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{522,88}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{522,88}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,712},{436,36}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,99},{436,36}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
            <key>part-mmwq_jinengshuaxing0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2040,2},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,104.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mmwq_jinengshuaxin_output.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:174d594d1d8b9e8d49366c7c79173537:1/1$</string>
            <key>textureFileName</key>
            <string>mmwq_jinengshuaxin_output.pvr.ccz</string>
        </dict>
    </dict>
</plist>
