<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-mmgq_di0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,674},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,674},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,674},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1264},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,918},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{346,222}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{346,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,450},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,450},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,572},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,450},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,348},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,226},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,226},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,226},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,226},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1732},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1386},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1040},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,694},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,348},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,2},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,222}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{346,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,222}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{346,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>part-mmgq_di0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{344,222}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{344,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mmwq_di.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d67cbaef2fe12a489d45f1554b3b21c:1/1$</string>
            <key>textureFileName</key>
            <string>mmwq_di.pvr.ccz</string>
        </dict>
    </dict>
</plist>
