<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nengliangcao_diji0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{344,72}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,63},{344,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1560},{342,72}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{342,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1928},{342,72}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,63},{342,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1854},{342,72}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,63},{342,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{342,72}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,63},{342,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1410},{342,74}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,61},{342,74}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{342,74}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,62},{342,74}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1486},{342,72}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,63},{342,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1510},{342,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,64},{342,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1510},{342,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,64},{342,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1510},{342,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,64},{342,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{344,74}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,62},{344,74}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1510},{342,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,64},{342,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{342,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,64},{342,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_diji0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1336},{344,72}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,63},{344,72}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,488},{380,120}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,37},{380,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{380,120}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,37},{380,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{382,118}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,39},{382,118}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{382,120}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{382,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,730},{378,122}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{378,122}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,382},{378,122}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,36},{378,122}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,854},{378,116}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,41},{378,116}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{380,116}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,40},{380,116}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,124},{382,118}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,39},{382,118}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,120}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{382,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,366},{380,120}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{380,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{382,118}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{382,118}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,610},{380,118}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{380,118}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{380,118}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{380,118}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{380,120}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{380,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{378,122}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{378,122}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1094},{374,118}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{374,118}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{376,120}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{376,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{374,120}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{374,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,382},{374,122}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,35},{374,122}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1138},{370,120}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,37},{370,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1214},{368,120}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{368,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1140},{368,120}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,37},{368,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{370,120}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{370,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,972},{374,120}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{374,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,762},{376,120}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,37},{376,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{378,122}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,35},{378,122}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,758},{378,120}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,37},{378,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{378,120}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,37},{378,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>part-nengliangcao_gaoji0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,244},{380,120}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{380,120}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nengliangcao.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd9955d85989f29e3be5691b712627bf:1/1$</string>
            <key>textureFileName</key>
            <string>nengliangcao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
