<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nlgz_huangguanzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,587},{18,15}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{74,15}</string>
            </dict>
            <key>part-nlgz_huangguanzi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,601},{36,124}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{36,124}}</string>
                <key>sourceSize</key>
                <string>{74,124}</string>
            </dict>
            <key>part-nlgz_huangguanzi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,509},{36,136}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{36,136}}</string>
                <key>sourceSize</key>
                <string>{74,136}</string>
            </dict>
            <key>part-nlgz_huangguanzi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{36,145}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{36,145}}</string>
                <key>sourceSize</key>
                <string>{74,145}</string>
            </dict>
            <key>part-nlgz_huangguanzi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{36,154}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{36,154}}</string>
                <key>sourceSize</key>
                <string>{74,154}</string>
            </dict>
            <key>part-nlgz_huangguanzi14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{36,165}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{36,165}}</string>
                <key>sourceSize</key>
                <string>{74,167}</string>
            </dict>
            <key>part-nlgz_huangguanzi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,404},{36,176}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{36,176}}</string>
                <key>sourceSize</key>
                <string>{74,180}</string>
            </dict>
            <key>part-nlgz_huangguanzi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,366},{36,184}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{36,184}}</string>
                <key>sourceSize</key>
                <string>{74,192}</string>
            </dict>
            <key>part-nlgz_huangguanzi17.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,328},{36,194}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{36,194}}</string>
                <key>sourceSize</key>
                <string>{74,208}</string>
            </dict>
            <key>part-nlgz_huangguanzi18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{40,201}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{40,201}}</string>
                <key>sourceSize</key>
                <string>{74,219}</string>
            </dict>
            <key>part-nlgz_huangguanzi19.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,224},{50,211}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{50,211}}</string>
                <key>sourceSize</key>
                <string>{74,219}</string>
            </dict>
            <key>part-nlgz_huangguanzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,366},{20,25}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{74,25}</string>
            </dict>
            <key>part-nlgz_huangguanzi20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{58,215}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{58,215}}</string>
                <key>sourceSize</key>
                <string>{74,219}</string>
            </dict>
            <key>part-nlgz_huangguanzi21.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{66,219}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{66,219}}</string>
                <key>sourceSize</key>
                <string>{74,219}</string>
            </dict>
            <key>part-nlgz_huangguanzi22.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{70,219}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,219}}</string>
                <key>sourceSize</key>
                <string>{74,219}</string>
            </dict>
            <key>part-nlgz_huangguanzi23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,219}}</string>
                <key>sourceSize</key>
                <string>{74,219}</string>
            </dict>
            <key>part-nlgz_huangguanzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,417},{24,38}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{74,38}</string>
            </dict>
            <key>part-nlgz_huangguanzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,480},{26,50}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>part-nlgz_huangguanzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,328},{28,62}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>part-nlgz_huangguanzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,242},{30,74}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{30,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>part-nlgz_huangguanzi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,639},{32,87}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{32,87}}</string>
                <key>sourceSize</key>
                <string>{74,87}</string>
            </dict>
            <key>part-nlgz_huangguanzi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,518},{34,101}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{34,101}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>part-nlgz_huangguanzi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,392},{36,111}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{36,111}}</string>
                <key>sourceSize</key>
                <string>{74,111}</string>
            </dict>
            <key>part-nlgz_languanzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,570},{18,15}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{76,15}</string>
            </dict>
            <key>part-nlgz_languanzi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,544},{36,131}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,131}}</string>
                <key>sourceSize</key>
                <string>{76,131}</string>
            </dict>
            <key>part-nlgz_languanzi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,480},{36,147}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,147}}</string>
                <key>sourceSize</key>
                <string>{76,147}</string>
            </dict>
            <key>part-nlgz_languanzi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,442},{36,164}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,164}}</string>
                <key>sourceSize</key>
                <string>{76,164}</string>
            </dict>
            <key>part-nlgz_languanzi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{36,176}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,176}}</string>
                <key>sourceSize</key>
                <string>{76,178}</string>
            </dict>
            <key>part-nlgz_languanzi14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{36,186}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,186}}</string>
                <key>sourceSize</key>
                <string>{76,192}</string>
            </dict>
            <key>part-nlgz_languanzi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{40,198}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,198}}</string>
                <key>sourceSize</key>
                <string>{76,208}</string>
            </dict>
            <key>part-nlgz_languanzi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,276},{50,208}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,208}}</string>
                <key>sourceSize</key>
                <string>{76,218}</string>
            </dict>
            <key>part-nlgz_languanzi17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{62,214}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,214}}</string>
                <key>sourceSize</key>
                <string>{76,218}</string>
            </dict>
            <key>part-nlgz_languanzi18.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,152},{70,218}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,218}}</string>
                <key>sourceSize</key>
                <string>{76,218}</string>
            </dict>
            <key>part-nlgz_languanzi19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{74,218}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,218}}</string>
                <key>sourceSize</key>
                <string>{76,218}</string>
            </dict>
            <key>part-nlgz_languanzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,393},{20,22}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>part-nlgz_languanzi20.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,74},{76,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,218}}</string>
                <key>sourceSize</key>
                <string>{76,218}</string>
            </dict>
            <key>part-nlgz_languanzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,365},{22,31}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{76,31}</string>
            </dict>
            <key>part-nlgz_languanzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,346},{24,42}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{24,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>part-nlgz_languanzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,462},{26,53}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{26,53}}</string>
                <key>sourceSize</key>
                <string>{76,53}</string>
            </dict>
            <key>part-nlgz_languanzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,312},{32,72}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>part-nlgz_languanzi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,518},{34,88}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>part-nlgz_languanzi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,639},{34,103}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,103}}</string>
                <key>sourceSize</key>
                <string>{76,103}</string>
            </dict>
            <key>part-nlgz_languanzi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,468},{36,118}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,118}}</string>
                <key>sourceSize</key>
                <string>{76,118}</string>
            </dict>
            <key>part-nlgz_ziguanzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,278},{17,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,11}}</string>
                <key>sourceSize</key>
                <string>{17,11}</string>
            </dict>
            <key>part-nlgz_ziguanzi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,293},{17,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,81}}</string>
                <key>sourceSize</key>
                <string>{17,81}</string>
            </dict>
            <key>part-nlgz_ziguanzi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,604},{17,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,91}}</string>
                <key>sourceSize</key>
                <string>{17,91}</string>
            </dict>
            <key>part-nlgz_ziguanzi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,518},{17,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,100}}</string>
                <key>sourceSize</key>
                <string>{17,100}</string>
            </dict>
            <key>part-nlgz_ziguanzi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,430},{17,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,109}}</string>
                <key>sourceSize</key>
                <string>{17,109}</string>
            </dict>
            <key>part-nlgz_ziguanzi14.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,449},{17,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,114}}</string>
                <key>sourceSize</key>
                <string>{17,114}</string>
            </dict>
            <key>part-nlgz_ziguanzi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,506},{17,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,122}}</string>
                <key>sourceSize</key>
                <string>{17,122}</string>
            </dict>
            <key>part-nlgz_ziguanzi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,582},{17,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,126}}</string>
                <key>sourceSize</key>
                <string>{17,126}</string>
            </dict>
            <key>part-nlgz_ziguanzi17.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,525},{17,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,135}}</string>
                <key>sourceSize</key>
                <string>{17,135}</string>
            </dict>
            <key>part-nlgz_ziguanzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,551},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>part-nlgz_ziguanzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,532},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>part-nlgz_ziguanzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,346},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>part-nlgz_ziguanzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,346},{17,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,42}}</string>
                <key>sourceSize</key>
                <string>{17,42}</string>
            </dict>
            <key>part-nlgz_ziguanzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,490},{17,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,50}}</string>
                <key>sourceSize</key>
                <string>{17,50}</string>
            </dict>
            <key>part-nlgz_ziguanzi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,443},{17,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,58}}</string>
                <key>sourceSize</key>
                <string>{17,58}</string>
            </dict>
            <key>part-nlgz_ziguanzi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,223},{17,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,67}}</string>
                <key>sourceSize</key>
                <string>{17,67}</string>
            </dict>
            <key>part-nlgz_ziguanzi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,274},{17,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,74}}</string>
                <key>sourceSize</key>
                <string>{17,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nlgz_guanzi.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ea25f2867cc73a9d346401cb3887290:1/1$</string>
            <key>textureFileName</key>
            <string>nlgz_guanzi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
