<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nlgz_huangbolang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,185},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_huangbolang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,166},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_huangbolang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,347},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_huangbolang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,117},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_huangbolang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,117},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_huangbolang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,232},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_huangbolang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,347},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_huangbolang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,232},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_huangbolang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,107},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_huangbolang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,87},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_huangbolang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{113,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,20}}</string>
                <key>sourceSize</key>
                <string>{113,20}</string>
            </dict>
            <key>part-nlgz_huangbolang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,311},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_huangbolang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,87},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_huangbolang21.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,347},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_huangbolang22.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,232},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_huangbolang23.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,347},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_huangbolang24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_huangbolang25.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,86},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_huangbolang26.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,166},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_huangbolang27.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,462},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_huangbolang28.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,232},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_huangbolang29.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,294},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_huangbolang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,329},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_huangbolang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,329},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_huangbolang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,293},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_huangbolang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,147},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_huangbolang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,147},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_huangbolang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,276},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_huangbolang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,275},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_lanbolang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,128},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_lanbolang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,128},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_lanbolang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,232},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_lanbolang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,66},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_lanbolang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,66},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_lanbolang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,108},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_lanbolang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,108},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_lanbolang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_lanbolang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,65},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_lanbolang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,45},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_lanbolang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,20}}</string>
                <key>sourceSize</key>
                <string>{113,20}</string>
            </dict>
            <key>part-nlgz_lanbolang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,258},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_lanbolang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,45},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_lanbolang21.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,108},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_lanbolang22.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,204},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_lanbolang23.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,108},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_lanbolang24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_lanbolang25.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,44},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_lanbolang26.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,185},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_lanbolang27.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,347},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_lanbolang28.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,347},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_lanbolang29.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,257},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_lanbolang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,347},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_lanbolang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,347},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_lanbolang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,240},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_lanbolang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,166},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_lanbolang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,147},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_lanbolang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,239},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_lanbolang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,232},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_zibolang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,128},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_zibolang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,481},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_zibolang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,108},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_zibolang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,24},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_zibolang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,24},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_zibolang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,108},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_zibolang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_zibolang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_zibolang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_zibolang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_zibolang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,20}}</string>
                <key>sourceSize</key>
                <string>{113,20}</string>
            </dict>
            <key>part-nlgz_zibolang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,222},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_zibolang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,23},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_zibolang21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_zibolang22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_zibolang23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>part-nlgz_zibolang24.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_zibolang25.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>sourceSize</key>
                <string>{113,19}</string>
            </dict>
            <key>part-nlgz_zibolang26.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,462},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_zibolang27.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,347},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_zibolang28.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,347},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_zibolang29.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,221},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_zibolang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,347},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_zibolang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,312},{113,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,15}}</string>
                <key>sourceSize</key>
                <string>{113,15}</string>
            </dict>
            <key>part-nlgz_zibolang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,204},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_zibolang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,347},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_zibolang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,232},{113,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,17}}</string>
                <key>sourceSize</key>
                <string>{113,17}</string>
            </dict>
            <key>part-nlgz_zibolang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,203},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
            <key>part-nlgz_zibolang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,185},{113,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,16}}</string>
                <key>sourceSize</key>
                <string>{113,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nlgz_bolang.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9d6267fe986187208cf4e8ac8f0d779:1/1$</string>
            <key>textureFileName</key>
            <string>nlgz_bolang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
