<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nvhushi_liuguan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,393},{10,20}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{10,20}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>part-nvhushi_liuguan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{19,36}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,36}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>part-nvhushi_liuguan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,418},{25,49}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{25,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>part-nvhushi_liuguan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,471},{29,49}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>part-nvhushi_liuguan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,365},{29,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{29,48}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>part-nvhushi_liuguan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,415},{26,48}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{26,48}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>part-nvhushi_liuguan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,465},{21,40}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{21,40}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>part-nvhushi_liuguan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,365},{14,26}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{14,26}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>part-nvhushi_quanshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,361}}</string>
                <key>sourceSize</key>
                <string>{294,361}</string>
            </dict>
            <key>part-nvhushi_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,393},{13,15}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{13,15}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>part-nvhushi_zhayan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,21}</string>
            </dict>
            <key>part-nvhushi_zhayan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{51,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,23}}</string>
                <key>sourceSize</key>
                <string>{51,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvhushi.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e415bf098528c80af2d2ad7fb1bbfcf$</string>
            <key>textureFileName</key>
            <string>nvhushi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
