<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nvjiaolian2_guan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,811},{7,11}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{7,11}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>part-nvjiaolian2_guan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,991},{9,12}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>part-nvjiaolian2_guan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,996},{14,10}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>part-nvjiaolian2_guan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1005},{17,12}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>part-nvjiaolian2_guan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,1011},{11,13}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{11,13}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>part-nvjiaolian2_guan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,976},{9,14}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{9,14}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>part-nvjiaolian2_guan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1011},{9,11}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{9,11}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>part-nvjiaolian2_guan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,976},{9,13}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{9,13}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>part-nvjiaolian2_guan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,992},{9,13}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{9,13}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>part-nvjiaolian2_guan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{8,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{8,16}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>part-nvjiaolian2_guan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,996},{9,14}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{9,14}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>part-nvjiaolian2_guan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,236},{6,11}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{6,11}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>part-nvjiaolian2_guan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,965},{52,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,50}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>part-nvjiaolian2_maozi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{163,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,97}}</string>
                <key>sourceSize</key>
                <string>{163,97}</string>
            </dict>
            <key>part-nvjiaolian2_maozi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{194,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,115}}</string>
                <key>sourceSize</key>
                <string>{194,115}</string>
            </dict>
            <key>part-nvjiaolian2_shangbansheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,240}}</string>
                <key>sourceSize</key>
                <string>{126,240}</string>
            </dict>
            <key>part-nvjiaolian2_shoujie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,976},{13,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,27}}</string>
                <key>sourceSize</key>
                <string>{13,27}</string>
            </dict>
            <key>part-nvjiaolian2_shoujie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,976},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>part-nvjiaolian2_toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,938},{48,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,117}}</string>
                <key>sourceSize</key>
                <string>{48,117}</string>
            </dict>
            <key>part-nvjiaolian2_toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,965},{53,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,87}}</string>
                <key>sourceSize</key>
                <string>{53,87}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{146,148}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{146,148}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,152},{146,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{146,148}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,398},{144,150}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,150}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,702},{142,150}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{142,150}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,550},{142,150}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{142,150}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,630},{140,152}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{140,152}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,811},{140,152}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{140,152}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,784},{138,152}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{138,152}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,474},{136,154}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{136,154}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,655},{136,154}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{136,154}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{136,154}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{136,154}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,244},{136,152}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{136,152}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,854},{138,150}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{138,150}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{138,148}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{138,148}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,302},{138,146}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{138,146}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,452},{140,146}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{140,146}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,152},{142,148}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{142,148}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,302},{144,148}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{144,148}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_toufa3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{146,148}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{146,148}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>part-nvjiaolian2_xiabansheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{179,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{179,120}}</string>
                <key>sourceSize</key>
                <string>{179,126}</string>
            </dict>
            <key>part-nvjiaolian2_xianglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,198},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>part-nvjiaolian2_yongquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1012},{67,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,10}}</string>
                <key>sourceSize</key>
                <string>{67,10}</string>
            </dict>
            <key>part-nvjiaolian2_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{228,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,131}}</string>
                <key>sourceSize</key>
                <string>{228,131}</string>
            </dict>
            <key>part-nvjiaolian2_youyongyijie.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,976},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>part-nvjiaolian2_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,965},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,50}</string>
            </dict>
            <key>part-nvjiaolian2_zuoshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,152},{112,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,130}}</string>
                <key>sourceSize</key>
                <string>{112,130}</string>
            </dict>
            <key>part-nvjiaolian2_zuoyongyijie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvjiaolian2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:775b5a1613c8323cf5742595eeb7fbd7$</string>
            <key>textureFileName</key>
            <string>nvjiaolian2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
