<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nvjunguan_liuguan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,394},{10,10}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{10,10}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>part-nvjunguan_liuguan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,498},{12,10}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{12,10}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>part-nvjunguan_liuguan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,379},{13,10}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{13,10}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>part-nvjunguan_liuguan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,500},{15,10}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{15,10}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>part-nvjunguan_liuguan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,480},{18,10}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,10}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>part-nvjunguan_liuguan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,437},{20,10}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,10}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>part-nvjunguan_liuguan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,487},{21,10}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{21,10}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>part-nvjunguan_liuguan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,413},{24,11}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,11}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>part-nvjunguan_liuguan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,439},{24,11}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,11}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>part-nvjunguan_liuguan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,439},{24,13}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,13}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>part-nvjunguan_liuguan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,413},{24,15}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,15}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>part-nvjunguan_liuguan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,465},{23,17}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,17}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>part-nvjunguan_liuguan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,459},{19,19}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,19}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>part-nvjunguan_liuguan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,490},{17,20}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{17,20}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>part-nvjunguan_liuguan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,413},{16,22}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{16,22}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>part-nvjunguan_liuguan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,439},{13,23}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{13,23}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>part-nvjunguan_liuguan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,379},{12,21}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{12,21}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>part-nvjunguan_liuguan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,464},{10,21}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{10,21}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>part-nvjunguan_liuguan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,480},{11,16}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{11,16}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>part-nvjunguan_quansheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,375}}</string>
                <key>sourceSize</key>
                <string>{329,375}</string>
            </dict>
            <key>part-nvjunguan_xing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,379},{32,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>part-nvjunguan_xing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{38,37}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{38,37}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>part-nvjunguan_zhayan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{42,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{42,19}</string>
            </dict>
            <key>part-nvjunguan_zhayan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{42,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{42,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvjunguan.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e768f75661045c69aa51a58fcb3087f$</string>
            <key>textureFileName</key>
            <string>nvjunguan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
