<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nvjiaoshi_lg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,452},{28,13}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>part-nvjiaoshi_lg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,407},{32,19}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>part-nvjiaoshi_lg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,467},{34,25}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{34,25}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>part-nvjiaoshi_lg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,411},{34,32}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>part-nvjiaoshi_lg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,371},{34,31}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{34,31}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>part-nvjiaoshi_lg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,467},{34,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{34,32}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>part-nvjiaoshi_lg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,465},{30,30}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{30,30}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>part-nvjiaoshi_lg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,447},{18,23}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{18,23}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>part-nvjiaoshi_lg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,447},{16,16}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{16,16}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>part-nvlaoshi_quansheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,367}}</string>
                <key>sourceSize</key>
                <string>{235,367}</string>
            </dict>
            <key>part-nvlaoshi_xg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{11,14}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{11,14}}</string>
                <key>sourceSize</key>
                <string>{37,52}</string>
            </dict>
            <key>part-nvlaoshi_xg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,451},{13,18}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>part-nvlaoshi_xg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,467},{36,24}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>part-nvlaoshi_xg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,411},{38,29}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,29}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>part-nvlaoshi_xg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,371},{38,33}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>part-nvlaoshi_xg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,371},{39,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>part-nvlaoshi_xg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,469},{38,39}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>part-nvlaoshi_xg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,412},{38,37}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{38,37}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>part-nvlaoshi_xingguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,452},{14,14}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{14,14}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>part-nvlaoshi_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{126,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>part-nvlaoshi_zhayan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,420},{47,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,21}}</string>
                <key>sourceSize</key>
                <string>{47,21}</string>
            </dict>
            <key>part-nvlaoshi_zhayan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,371},{47,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,21}}</string>
                <key>sourceSize</key>
                <string>{47,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvlaoshi.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:719dbd5097ab4953fae9b68994c4336d$</string>
            <key>textureFileName</key>
            <string>nvlaoshi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
