<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nvtegong_lg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,361},{12,11}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>part-nvtegong_lg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,493},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>part-nvtegong_lg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,474},{17,16}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>part-nvtegong_lg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,478},{15,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,18}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>part-nvtegong_lg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,493},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>part-nvtegong_lg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,436},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>part-nvtegong_quanshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,357}}</string>
                <key>sourceSize</key>
                <string>{257,357}</string>
            </dict>
            <key>part-nvtegong_xg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,448},{28,14}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{28,14}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>part-nvtegong_xg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,416},{30,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{30,16}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>part-nvtegong_xg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,448},{24,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{24,14}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>part-nvtegong_xg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,498},{25,12}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{25,12}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>part-nvtegong_xg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,474},{21,10}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{21,10}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>part-nvtegong_xg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{21,10}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{21,10}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>part-nvtegong_xg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,416},{18,10}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{18,10}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>part-nvtegong_xg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,448},{15,11}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{15,11}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>part-nvtegong_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{53,49}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,49}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>part-nvtegong_zhayan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>part-nvtegong_zhayan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvtegong.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5b1d464a317cc09af2a52fef8deb5b1$</string>
            <key>textureFileName</key>
            <string>nvtegong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
