<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nyhx_qianduantexiao_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{46,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,52},{46,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,202},{46,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,152},{46,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,202},{46,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,152},{46,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-nyhx_qianduantexiao_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nyhx_jindutiao_fenge.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdba9a52af4c89f6b3ef42ba5f8b07e6:1/1$</string>
            <key>textureFileName</key>
            <string>nyhx_jindutiao_fenge.pvr.ccz</string>
        </dict>
    </dict>
</plist>
