<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nyhx_suolian_liekai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{544,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{544,368}}</string>
                <key>sourceSize</key>
                <string>{546,368}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1199},{102,71}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,69},{102,71}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1256},{226,157}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{226,157}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1199},{226,157}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{226,157}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1097},{226,157}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{226,157}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,585},{226,157}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,33},{226,157}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,866},{266,229}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{266,229}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{272,233}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{272,233}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{272,237}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{272,237}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,496},{272,241}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{272,241}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,739},{270,245}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{270,245}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{272,245}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{272,245}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1353},{128,89}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,67},{128,89}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,619},{270,245}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{270,245}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang21.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,372},{270,245}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{270,245}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang22.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,249},{272,245}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{272,245}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang23.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{272,245}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{272,245}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1093},{266,215}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,37},{266,215}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang25.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,986},{262,211}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,41},{262,211}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang26.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,813},{250,201}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,51},{250,201}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1353},{156,117}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,51},{156,117}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{190,125}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,49},{190,125}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1065},{206,133}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,48},{206,133}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1200},{222,151}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{222,151}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{224,155}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{224,155}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,357},{226,157}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,33},{226,157}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
            <key>part-nyhx_suolian_liekai_guang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,129},{226,157}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,33},{226,157}}</string>
                <key>sourceSize</key>
                <string>{278,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nyhx_suolian_suolian.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1470a37c7405309b2bf431c5ad5420b:1/1$</string>
            <key>textureFileName</key>
            <string>nyhx_suolian_suolian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
