<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nyhx_nlzr_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,760},{176,170}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,33},{176,170}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>nyhx_nlzr_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{176,170}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{176,170}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>nyhx_nlzr_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,582},{184,176}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{184,176}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>nyhx_nlzr_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,400},{186,180}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{186,180}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>nyhx_nlzr_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{202,194}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{202,194}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>nyhx_nlzr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,760},{152,152}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,42},{152,152}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>nyhx_nlzr_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{206,196}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{206,196}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>nyhx_nlzr_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,198}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{204,198}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>nyhx_nlzr_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,200},{202,198}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{202,198}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>nyhx_nlzr_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{196,194}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{196,194}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>nyhx_nlzr_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{170,170}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{170,170}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nyhx_nlzr.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cb07d528afa5db3677d06d4ac7762d3:1/1$</string>
            <key>textureFileName</key>
            <string>nyhx_nlzr.pvr.ccz</string>
        </dict>
    </dict>
</plist>
