<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nyhx_6xiaokuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,254},{224,220}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{224,220}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,544},{224,220}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{224,220}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,544},{224,224}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{224,224}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{232,232}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{232,232}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{242,230}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{242,230}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,274},{268,256}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,256}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,274},{270,264}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,264}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{200,198}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,37},{200,198}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{270,268}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,268}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,268}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,268}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{270,266}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,266}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,540},{260,256}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{260,256}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{268,250}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,250}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,770},{212,212}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{212,212}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,770},{218,218}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{218,218}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>part-nyhx_6xiaokuang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,770},{218,218}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{218,218}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nyhx_ronglian_6xiaokuang.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3166e3a9222f83c0ddbef310c5be4799:1/1$</string>
            <key>textureFileName</key>
            <string>nyhx_ronglian_6xiaokuang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
