<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nyhx_jiahao_lizi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,254},{70,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{70,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,88},{86,84}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{86,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{88,86}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,378},{90,88}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{90,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,284},{92,90}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{92,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{92,90}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{92,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{92,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{92,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{92,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{92,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{92,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{92,90}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{92,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,378},{90,88}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{90,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,90},{76,76}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{76,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{86,84}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{86,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,256},{78,76}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,26},{78,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,174},{78,70}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{78,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,174},{80,70}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{80,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,168},{68,56}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,31},{68,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,472},{52,36}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{52,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{54,52}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{54,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,326},{48,52}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,30},{48,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,90},{60,64}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{60,64}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{52,38}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{52,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,170},{80,78}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{80,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,88},{82,80}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{82,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>part-nyhx_jiahao_lizi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nyhx_jiahao_lizi.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a6d8b6220a376ffe762143c47f6147d:1/1$</string>
            <key>textureFileName</key>
            <string>nyhx_jiahao_lizi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
