<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-nyhx_zhongjiankuang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1038},{250,252}}</string>
                <key>offset</key>
                <string>{-5,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,108},{250,252}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1026},{252,250}}</string>
                <key>offset</key>
                <string>{-4,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{252,250}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,264},{260,356}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{260,356}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{260,318}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{260,318}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,526},{250,282}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,64},{250,282}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,786},{238,258}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,98},{238,258}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{234,232}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,120},{234,232}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{222,222}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,125},{222,222}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{218,218}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,127},{218,218}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1290},{218,218}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,127},{218,218}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1278},{218,218}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,127},{218,218}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1278},{218,218}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,127},{218,218}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{260,256}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{260,256}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1278},{218,218}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,127},{218,218}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1724},{206,206}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,133},{206,206}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,778},{260,258}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{260,258}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,526},{260,258}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{260,258}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,264},{260,290}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,70},{260,290}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{260,298}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{260,298}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{260,356}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{260,356}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{260,358}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,358}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>part-nyhx_zhongjiankuang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,358}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,358}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nyhx_zhongjiankuang.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f85ee95680edc437379ddde493802357:1/1$</string>
            <key>textureFileName</key>
            <string>nyhx_zhongjiankuang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
