<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6r5re6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,446},{16,14}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,21},{16,14}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>part-baozha_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,760},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>part-baozha_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,375},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>part-baozha_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,648},{75,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,64}}</string>
                <key>sourceSize</key>
                <string>{75,64}</string>
            </dict>
            <key>part-baozha_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,734},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
            <key>part-baozha_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,249},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>part-baozha_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,764},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>part-baozha_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,516},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>part-baozha_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,796},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>part-baozha_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,644},{55,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>part-baozha_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,314},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>part-baozha_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,697},{61,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,59}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>part-baozha_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,589},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>part-baozha_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,579},{67,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>part-baozha_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,725},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>part-baozha_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,683},{69,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>part-baozha_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,701},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
            <key>part-chengse_jiguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,734},{24,24}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,14},{24,24}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,817},{32,32}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,10},{32,32}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,760},{32,34}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,9},{32,34}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,826},{32,32}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,10},{32,32}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{30,32}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,10},{30,32}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,808},{32,32}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,10},{32,32}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,554},{32,34}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,9},{32,34}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,817},{30,32}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,10},{30,32}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,808},{32,32}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,10},{32,32}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,814},{32,32}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,10},{32,32}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,789},{32,32}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,10},{32,32}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,823},{30,30}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,11},{30,30}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,794},{34,30}}</string>
                <key>offset</key>
                <string>{73,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,11},{34,30}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,360},{142,32}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{142,32}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,311},{144,32}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,10},{144,32}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,166},{146,30}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{146,30}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,279},{148,30}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{148,30}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,247},{150,30}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{150,30}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,391},{140,28}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{140,28}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,418},{136,24}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{136,24}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,625},{32,34}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,9},{32,34}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,789},{32,32}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,10},{32,32}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-chengse_jiguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,846},{30,30}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,11},{30,30}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-dapanjun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{189,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{189,117}}</string>
                <key>sourceSize</key>
                <string>{193,119}</string>
            </dict>
            <key>part-huangse_jiguang_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,446},{16,14}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,21},{16,14}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>part-huangse_jiguang_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,526},{60,14}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{60,14}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>part-huangse_jiguang_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,487},{62,14}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{62,14}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>part-huangse_jiguang_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,462},{62,14}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{62,14}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>part-huangse_jiguang_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,421},{64,12}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{64,12}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>part-huangse_jiguang_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,565},{58,10}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{58,10}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>part-huojianche_ddqingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{125,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,158}}</string>
                <key>sourceSize</key>
                <string>{125,160}</string>
            </dict>
            <key>part-kaipao_huoshe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,516},{26,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,100}}</string>
                <key>sourceSize</key>
                <string>{26,102}</string>
            </dict>
            <key>part-kaipao_huoshe10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,421},{49,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,134}}</string>
                <key>sourceSize</key>
                <string>{51,134}</string>
            </dict>
            <key>part-kaipao_huoshe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{30,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,112}}</string>
                <key>sourceSize</key>
                <string>{32,112}</string>
            </dict>
            <key>part-kaipao_huoshe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{32,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,122}}</string>
                <key>sourceSize</key>
                <string>{32,122}</string>
            </dict>
            <key>part-kaipao_huoshe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,121},{36,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{36,126}}</string>
                <key>sourceSize</key>
                <string>{36,134}</string>
            </dict>
            <key>part-kaipao_huoshe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,513},{39,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,127}}</string>
                <key>sourceSize</key>
                <string>{39,127}</string>
            </dict>
            <key>part-kaipao_huoshe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{41,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{41,134}}</string>
                <key>sourceSize</key>
                <string>{53,134}</string>
            </dict>
            <key>part-kaipao_huoshe7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{43,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{43,134}}</string>
                <key>sourceSize</key>
                <string>{53,134}</string>
            </dict>
            <key>part-kaipao_huoshe8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,444},{45,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{45,134}}</string>
                <key>sourceSize</key>
                <string>{53,134}</string>
            </dict>
            <key>part-kaipao_huoshe9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{47,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,134}}</string>
                <key>sourceSize</key>
                <string>{53,134}</string>
            </dict>
            <key>part-lanse_jiguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,428},{16,16}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,18},{16,16}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,842},{22,22}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,15},{22,22}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,659},{22,24}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,14},{22,24}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,823},{22,22}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,15},{22,22}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,855},{20,20}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,16},{20,20}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,823},{22,22}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,15},{22,22}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,657},{24,24}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,14},{24,24}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,855},{20,20}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,16},{20,20}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,851},{22,22}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,15},{22,22}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,823},{22,22}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,15},{22,22}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,849},{22,22}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,15},{22,22}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,847},{20,20}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,16},{20,20}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,551},{26,18}}</string>
                <key>offset</key>
                <string>{72,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,17},{26,18}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,472},{134,22}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{134,22}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,394},{138,22}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,16},{138,22}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,367},{142,22}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{142,22}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,345},{144,20}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{144,20}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,338},{144,20}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,17},{144,20}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,491},{130,20}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,17},{130,20}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,496},{130,18}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{130,18}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,631},{24,24}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,14},{24,24}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,848},{22,22}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,15},{22,22}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lanse_jiguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,847},{20,20}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,16},{20,20}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
            <key>part-lv_dankeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,198},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,588},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,628},{81,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,71}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,554},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,72}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen12.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,661},{78,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,68}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,754},{63,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,450},{66,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,516},{71,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,655},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,67}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,730},{77,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,70}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen8.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,588},{81,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,71}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>part-tanke_kaipao_yanchen9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{81,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,71}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>part-zhanche_huohua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,121},{124,161}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,161}}</string>
                <key>sourceSize</key>
                <string>{126,165}</string>
            </dict>
            <key>part-zhanche_huohua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{133,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{133,152}}</string>
                <key>sourceSize</key>
                <string>{137,158}</string>
            </dict>
            <key>part-zhanche_huohua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,544},{42,92}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,92}}</string>
                <key>sourceSize</key>
                <string>{46,94}</string>
            </dict>
            <key>part-zhendi_shabao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,162}}</string>
                <key>sourceSize</key>
                <string>{307,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panjun4.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4895d15f2cfb1592691d4fe2cb841dbe:1/1$</string>
            <key>textureFileName</key>
            <string>panjun4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
