<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-posui_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,304},{38,38}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,123},{38,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,178},{76,68}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,111},{76,68}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{110,98}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,96},{110,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,638},{140,122}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,84},{140,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,840},{160,140}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{160,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{176,156}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,67},{176,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,840},{192,170}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,60},{192,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{202,182}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,54},{202,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,646},{212,192}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,49},{212,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,638},{218,200}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,45},{218,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,222},{224,206}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{224,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,438},{226,210}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,41},{226,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{230,214}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{230,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,216}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,40},{234,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,222},{220,216}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{220,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{220,218}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{220,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{222,218}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,43},{222,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,218},{222,218}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,43},{222,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{222,218}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,44},{222,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{222,208}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,55},{222,208}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,430},{220,206}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,57},{220,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,440},{218,204}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,57},{218,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,810},{218,158}}</string>
                <key>offset</key>
                <string>{-17,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,104},{218,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-posui_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,650},{218,158}}</string>
                <key>offset</key>
                <string>{-17,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,105},{218,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-tk_sulianzhanlin_sp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,211},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>part-tk_sulianzhanlin_sp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,256},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>part-tk_sulianzhanlin_sp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,317},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>part-tk_sulianzhanlin_sp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,317},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>part-tk_sulianzhanlin_sp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,234},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>part-tk_sulianzhanlin_sp6.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,178},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>part-tk_sulianzhanlin_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,114},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>part-tk_sulianzhanlin_ui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,248},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_sulianzhanlin.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38b0310bec5cb011392f25171ed73bda:1/1$</string>
            <key>textureFileName</key>
            <string>red_sulianzhanlin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
