<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-tk_lang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{126,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,78}}</string>
                <key>sourceSize</key>
                <string>{126,78}</string>
            </dict>
            <key>part-tk_lang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,414},{160,88}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{160,88}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,96},{160,88}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{160,88}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{162,92}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{162,92}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,266},{160,92}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{160,92}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,92}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{162,92}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,416},{158,94}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{158,94}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,94},{158,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{158,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,96},{158,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{158,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,96}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{162,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,254},{158,92}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{158,92}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,258},{154,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{154,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,256},{158,94}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{158,94}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{164,94}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{164,94}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{164,90}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{164,90}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>part-tk_lang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,100},{160,88}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{160,88}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redplan_lang.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4681f52b9ffb8ede8432081e0dfc5593:1/1$</string>
            <key>textureFileName</key>
            <string>redplan_lang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
