<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-ryxz_miaozhun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{95,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{95,95}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>part-ryxz_miaozhun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,198},{96,96}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>part-ryxz_miaozhun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,96}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>part-ryxz_miaozhun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{96,96}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>part-ryxz_miaozhun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,96}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>part-ryxz_miaozhun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,96}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>part-ryxz_miaozhun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ryxz_miaozhun.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56c0435dd8a8a393a6a90047e0997f5c:1/1$</string>
            <key>textureFileName</key>
            <string>ryxz_miaozhun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
