<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-ryxz_baozha_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{174,88}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,67},{174,88}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,706},{178,124}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,48},{178,124}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,172},{162,128}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,50},{162,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,886},{140,134}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{140,134}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,880},{146,138}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,41},{146,138}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,338},{152,148}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,33},{152,148}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,518},{160,154}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{160,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,172},{162,168}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{162,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{164,168}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{164,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,706},{172,168}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{172,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{186,168}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{186,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,338},{178,166}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{178,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,524},{180,168}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{180,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{186,168}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{186,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,168}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{186,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{184,168}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{184,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,168}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{186,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,170},{186,166}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{186,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{186,166}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{186,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{186,134}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{186,134}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,338},{184,134}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{184,134}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>part-ryxz_baozha_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{186,134}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{186,134}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ryxz_baozha.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:165918d2cb6d56483f667bf5f2df667b:1/1$</string>
            <key>textureFileName</key>
            <string>ryxz_baozha.pvr.ccz</string>
        </dict>
    </dict>
</plist>
