<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-ryxz_shuaxin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,751},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,551},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin05.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,356},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin06.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,356},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,368},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin09.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,356},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,179},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin11.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,179},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,191},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin14.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,179},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin15.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin16.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin17.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{198,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{198,175}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin18.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{198,187}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{198,187}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,193}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,13},{198,193}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin20.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,740},{188,193}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{188,193}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin21.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,545},{188,193}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{188,193}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin22.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,533},{188,191}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,13},{188,191}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin23.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,533},{188,183}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{188,183}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin24.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,718},{114,131}}</string>
                <key>offset</key>
                <string>{14,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,36},{114,131}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin25.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,718},{114,131}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,35},{114,131}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin26.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,834},{114,129}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,36},{114,129}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin27.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,834},{114,129}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,35},{114,129}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin28.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,834},{114,119}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,42},{114,119}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin29.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,723},{114,95}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,65},{114,95}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
            <key>part-ryxz_shuaxin30.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,533},{112,91}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,67},{112,91}}</string>
                <key>sourceSize</key>
                <string>{262,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ryxz_shuaxin.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bf78428d7df208808c9894218f24af6:1/1$</string>
            <key>textureFileName</key>
            <string>ryxz_shuaxin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
