<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ryxz_shuaxinjin_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,139},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,139},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,792},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,634},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,476},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,318},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,160},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,801},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,643},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,485},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,327},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,169},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,832},{156,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{156,135}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{162,161}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,12},{162,161}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,165}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,11},{162,165}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{160,165}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{160,165}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{160,165}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{160,165}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{160,163}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{160,163}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{160,157}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,13},{160,157}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{98,113}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,30},{98,113}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{98,111}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,31},{98,111}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,102},{98,111}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,30},{98,111}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,102},{98,109}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,31},{98,109}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,202},{98,101}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,37},{98,101}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,202},{98,81}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,56},{98,81}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>ryxz_shuaxinjin_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,276},{96,79}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,56},{96,79}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ryxz_shuaxin_jinse.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:613be6cc6d17b75e12c24aa80573222c:1/1$</string>
            <key>textureFileName</key>
            <string>ryxz_shuaxin_jinse.pvr.ccz</string>
        </dict>
    </dict>
</plist>
