<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sdbz_hunzhan_rentou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1360},{63,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{63,63}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>part-sdbz_hunzhan_rentou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,156},{116,117}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{116,117}}</string>
                <key>sourceSize</key>
                <string>{164,165}</string>
            </dict>
            <key>part-sdbz_hunzhan_rentou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1294},{70,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{70,64}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1145},{160,166}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,52},{160,166}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1437},{164,160}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,53},{164,160}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1307},{150,160}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,53},{150,160}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax12.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1442},{146,158}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,55},{146,158}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax13.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,274},{144,156}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,57},{144,156}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,606},{192,180}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{192,180}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{192,186}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{192,186}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax4.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1442},{152,150}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,63},{152,150}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax5.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1296},{160,154}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,59},{160,154}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1140},{168,154}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,59},{168,154}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax7.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,972},{174,158}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,55},{174,158}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1129},{178,164}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{178,164}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_shoulei_baozhax9.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1122},{180,166}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,47},{180,166}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>part-sdbz_sld.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,972},{63,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,42}}</string>
                <key>sourceSize</key>
                <string>{67,48}</string>
            </dict>
            <key>part-sdbz_soulei_baozhay10.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{185,222}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{185,222}}</string>
                <key>sourceSize</key>
                <string>{195,232}</string>
            </dict>
            <key>part-sdbz_soulei_baozhay11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{183,218}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{183,218}}</string>
                <key>sourceSize</key>
                <string>{195,232}</string>
            </dict>
            <key>part-sdbz_soulei_baozhay12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,224}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{171,224}}</string>
                <key>sourceSize</key>
                <string>{195,232}</string>
            </dict>
            <key>part-sdbz_soulei_baozhay13.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,189},{175,220}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{175,220}}</string>
                <key>sourceSize</key>
                <string>{195,232}</string>
            </dict>
            <key>part-sdbz_soulei_baozhay8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{183,222}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{183,222}}</string>
                <key>sourceSize</key>
                <string>{195,232}</string>
            </dict>
            <key>part-sdbz_soulei_baozhay9.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{187,220}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{187,220}}</string>
                <key>sourceSize</key>
                <string>{195,232}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,587},{190,196}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{190,196}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{210,210}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{210,210}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,191},{212,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{212,198}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,558},{202,194}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{202,194}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{214,206}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{214,206}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,210},{198,202}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{198,202}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,420},{184,192}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{184,192}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,410},{196,194}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{196,194}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,779},{190,184}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{190,184}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,391},{202,194}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{202,194}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,366},{212,190}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{212,190}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,754},{196,180}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{196,180}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{182,186}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{182,186}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,788},{190,174}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{190,174}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,936},{186,184}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{186,184}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,964},{186,174}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{186,174}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,965},{178,180}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{178,180}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,614},{178,190}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{178,190}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,794},{176,186}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{176,186}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1132},{168,160}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{168,160}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1290},{166,146}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{166,146}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1295},{166,140}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{166,140}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1438},{160,146}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,42},{160,146}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1294},{164,146}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,48},{164,146}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>part-sdbz_zhandou_yan0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{128,152}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,47},{128,152}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbz_zhandouyan.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e6518d9c5f5e8343d205f49793270ad:1/1$</string>
            <key>textureFileName</key>
            <string>sdbz_zhandouyan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
