<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sdhd_beimian_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>part-sdhd_beimian_shentizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,405},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>part-sdhd_beimian_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,309},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>part-sdhd_beimian_touzzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>part-sdhd_beimian_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,93},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>part-sdhd_beimian_youdatuizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,194},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>part-sdhd_beimian_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,130},{13,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>part-sdhd_beimian_youjiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,23},{12,19}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,19}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>part-sdhd_beimian_youjiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,62},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>part-sdhd_beimian_youqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,91},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>part-sdhd_beimian_youqianbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,249},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>part-sdhd_beimian_youqianbi2zzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,98},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>part-sdhd_beimian_youqianbizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,269},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>part-sdhd_beimian_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,182},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>part-sdhd_beimian_youshangbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,97},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>part-sdhd_beimian_youshangbi2zzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,217},{25,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>part-sdhd_beimian_youshangbizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,213},{26,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>part-sdhd_beimian_youshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,172},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>part-sdhd_beimian_youshou2zzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,274},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>part-sdhd_beimian_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,69},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>part-sdhd_beimian_zuodatuizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,130},{26,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>part-sdhd_beimian_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,80},{13,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>part-sdhd_beimian_zuojiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,44},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>part-sdhd_beimian_zuojiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{12,19}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{12,19}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>part-sdhd_beimian_zuoqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,69},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>part-sdhd_beimian_zuoqianbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,249},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>part-sdhd_beimian_zuoqianbi2zzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,129},{27,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>part-sdhd_beimian_zuoqianbizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,241},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>part-sdhd_beimian_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,125},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>part-sdhd_beimian_zuoshangbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,69},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>part-sdhd_beimian_zuoshangbi2zzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,185},{25,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>part-sdhd_beimian_zuoshangbizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,484},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>part-sdhd_beimian_zuoshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,117},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>part-sdhd_beimian_zuoshou2zzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,245},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>part-sdhd_cemian_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,67},{47,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>part-sdhd_cemian_shentizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{52,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,67}</string>
            </dict>
            <key>part-sdhd_cemian_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>part-sdhd_cemian_touzzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,101}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>part-sdhd_cemian_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,280},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>part-sdhd_cemian_youdatuizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,67},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>part-sdhd_cemian_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,145},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>part-sdhd_cemian_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,158},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>part-sdhd_cemian_zuodatuizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,67},{29,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>part-sdhd_cemian_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,166},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>part-sdhd_cemian_zuoqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,146},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>part-sdhd_cemian_zuoqianbizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,297},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>part-sdhd_cemian_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,206},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>part-sdhd_cemian_zuoshangbizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,215},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>part-sdhd_cemian_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,149},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>part-sdhd_cemian_zuoshouzzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,484},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>part-sdhd_zhengmian_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>part-sdhd_zhengmian_shentizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,405},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>part-sdhd_zhengmian_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>part-sdhd_zhengmian_touzzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>part-sdhd_zhengmian_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,166},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>part-sdhd_zhengmian_youjiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,124},{15,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>part-sdhd_zhengmian_youqianbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,158},{20,22}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>part-sdhd_zhengmian_youqianbi2zzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,185},{24,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>part-sdhd_zhengmian_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,125},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>part-sdhd_zhengmian_youshangbizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,185},{26,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>part-sdhd_zhengmian_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,222},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>part-sdhd_zhengmian_youshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,212},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>part-sdhd_zhengmian_youshouzzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,280},{26,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>part-sdhd_zhengmian_youshouzzzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,101},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>part-sdhd_zhengmian_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,69},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>part-sdhd_zhengmian_youtuizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,166},{26,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,166},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuojiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,102},{15,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuoqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,91},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuoqianbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,246},{20,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuoqianbi2zzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,484},{26,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,182},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuoshangbizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,484},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,268},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuoshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,184},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuoshou2zzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,134},{30,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuoshouzzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,484},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,93},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>part-sdhd_zhengmian_zuotuizzz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,240},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbz_xiaorenpaobu.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3570d625b5afee830eddbed14d13cc3c:1/1$</string>
            <key>textureFileName</key>
            <string>sdbz_xiaorenpaobu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
