<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sdbz_baoxiang_shang0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,824},{158,174}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{158,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,648},{158,172}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{158,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,822},{158,172}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{158,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,648},{158,172}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{158,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,646},{158,170}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{158,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,818},{158,170}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{158,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,646},{158,170}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{158,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,822},{158,170}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{158,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,648},{158,174}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{158,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,326},{158,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{158,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,326},{158,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{158,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,328},{158,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{158,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,488},{158,174}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{158,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,488},{158,174}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{158,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,486},{158,174}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{158,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{162,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{162,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{162,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{162,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{162,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{162,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{162,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{162,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{162,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,178}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{162,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,164},{160,178}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{160,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{160,178}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{160,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{160,178}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{160,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{160,178}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{160,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,326},{160,176}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{160,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,164},{160,176}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{160,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,164},{160,176}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{160,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,166},{160,176}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{160,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sdbz_baoxiang_shang0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,486},{158,174}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{158,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbz_baoxiang_shang.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b35e609e86aea8d7720c3c806c05be50:1/1$</string>
            <key>textureFileName</key>
            <string>sdbz_baoxiang_shang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
