<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sdbz_mofazhenx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1314},{129,132}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{129,132}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx10.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1032},{145,150}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{145,150}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx11.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1032},{145,154}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{145,154}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx12.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1032},{151,156}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{151,156}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{157,154}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{157,154}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1179},{133,138}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{133,138}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{133,140}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{133,140}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1185},{133,142}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{133,142}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1179},{133,144}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{133,144}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1195},{135,144}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{135,144}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1178},{141,144}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{141,144}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx8.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1049},{145,144}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{145,144}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazhenx9.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1032},{145,144}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{145,144}}</string>
                <key>sourceSize</key>
                <string>{173,182}</string>
            </dict>
            <key>part-sdbz_mofazheny1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,811},{205,236}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,47},{205,236}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny10.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,275},{271,292}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{271,292}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny11.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{271,318}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{271,318}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{287,318}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{287,318}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{297,318}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{297,318}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,811},{219,258}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{219,258}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{227,268}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,20},{227,268}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,801},{229,274}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,15},{229,274}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{229,276}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,14},{229,276}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,564},{235,280}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,11},{235,280}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny7.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,548},{261,284}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{261,284}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{269,286}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{269,286}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
            <key>part-sdbz_mofazheny9.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,291},{271,288}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{271,288}}</string>
                <key>sourceSize</key>
                <string>{311,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbz_mofazhen.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e74eb67357befd88e08b5a30f39d4f1:1/1$</string>
            <key>textureFileName</key>
            <string>sdbz_mofazhen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
