<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sbdz_yanhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1616},{100,200}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>part-sbdz_yanhua_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1876},{76,76}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,75},{76,76}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1586},{110,98}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,65},{110,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1740},{134,120}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,55},{134,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1586},{152,142}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,45},{152,142}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1812},{166,158}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{166,158}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1404},{180,174}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{180,174}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1616},{194,184}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{194,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1836},{202,192}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{202,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1836},{210,200}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{210,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{218,206}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{218,206}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{224,212}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{224,212}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1398},{230,216}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{230,216}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1176},{232,220}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{232,220}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{236,224}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{236,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1176},{238,226}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{238,226}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1174},{240,228}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{240,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,942},{242,230}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{242,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{244,232}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{244,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,474},{246,234}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{246,234}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,238},{246,234}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,238},{246,234}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,238},{246,234}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{246,234}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{246,234}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{246,234}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{246,234}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,234}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,708},{246,232}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{246,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,474},{246,232}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{246,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,474},{246,232}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{246,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00062.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,708},{244,232}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{244,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00064.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,710},{242,232}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{242,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00066.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,942},{240,232}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{240,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00068.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,944},{240,230}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{240,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-sbdz_yanhua_00070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{240,230}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{240,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbz_yanhua.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05932d0bc0e4f4d7c20e9fa86232b25a:1/1$</string>
            <key>textureFileName</key>
            <string>sdbz_yanhua.pvr.ccz</string>
        </dict>
    </dict>
</plist>
