<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sbbz_qi000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,140},{158,132}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{158,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,142},{158,134}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{158,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{158,134}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{158,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{158,136}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{158,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{158,136}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{158,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,138}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{158,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,138}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{158,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{158,136}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{158,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,136}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{158,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,140},{158,134}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{158,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,140},{158,132}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{158,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,276},{158,130}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{158,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,274},{158,128}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{158,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,402},{158,126}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{158,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,406},{158,124}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{158,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,530},{158,122}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{158,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{158,120}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{158,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{158,118}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{158,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,532},{158,116}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{158,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,408},{158,114}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{158,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,654},{158,116}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{158,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,814},{158,116}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{158,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{158,118}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{158,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{158,118}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{158,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,530},{158,122}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{158,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,404},{158,124}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{158,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,274},{158,126}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{158,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,278},{158,128}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{158,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{158,128}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{158,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,274},{158,130}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{158,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qi00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,140},{158,132}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{158,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-sbbz_qigan.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{19,98}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbz_start.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7cee369578d51e7dd028945b4169a7a:1/1$</string>
            <key>textureFileName</key>
            <string>sdbz_start.pvr.ccz</string>
        </dict>
    </dict>
</plist>
