<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-aixinx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,805},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>part-meizhi3_biyan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,720},{67,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,37}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>part-meizhi3_houtoufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1086},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>part-meizhi3_meimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,759},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>part-meizhi3_saihong.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,224},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,59}}</string>
                <key>sourceSize</key>
                <string>{97,61}</string>
            </dict>
            <key>part-meizhi3_shangshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,689},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
            <key>part-meizhi3_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{144,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,156}}</string>
                <key>sourceSize</key>
                <string>{146,158}</string>
            </dict>
            <key>part-meizhi3_xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1030},{146,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,129}}</string>
                <key>sourceSize</key>
                <string>{146,129}</string>
            </dict>
            <key>part-meizhi3_xiongqiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,720},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>part-meizhi3_xiongqiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,850},{29,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,58}}</string>
                <key>sourceSize</key>
                <string>{29,58}</string>
            </dict>
            <key>part-meizhi3_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,904},{213,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,180}}</string>
                <key>sourceSize</key>
                <string>{213,180}</string>
            </dict>
            <key>part-meizhi3_youqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,431},{129,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,90}}</string>
                <key>sourceSize</key>
                <string>{129,90}</string>
            </dict>
            <key>part-meizhi3_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,562},{86,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,156}}</string>
                <key>sourceSize</key>
                <string>{86,156}</string>
            </dict>
            <key>part-meizhi3_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{579,116}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{579,116}}</string>
                <key>sourceSize</key>
                <string>{579,150}</string>
            </dict>
            <key>part-meizhi3_zuiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,768},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,24}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>part-meizhi3_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1086},{164,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,147}}</string>
                <key>sourceSize</key>
                <string>{164,147}</string>
            </dict>
            <key>part-meizhi3_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{146,98}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,98}}</string>
                <key>sourceSize</key>
                <string>{148,106}</string>
            </dict>
            <key>part-meizhi3_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,790},{58,64}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{58,64}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>part-meizhi3_zuoshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,285},{53,94}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{53,94}}</string>
                <key>sourceSize</key>
                <string>{87,104}</string>
            </dict>
            <key>part-meizhi3_zuotoufasi.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,340},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,89}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>part-meizhi3_zuotoufax1.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,614},{58,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,114}}</string>
                <key>sourceSize</key>
                <string>{58,114}</string>
            </dict>
            <key>part-meizhi3_zuoxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,104},{118,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,96}}</string>
                <key>sourceSize</key>
                <string>{118,96}</string>
            </dict>
            <key>part-meizhi3_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{329,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,100}}</string>
                <key>sourceSize</key>
                <string>{329,100}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,582},{111,228}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{111,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,919},{109,226}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{109,226}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,695},{111,226}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{111,226}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{111,226}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{111,226}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax13.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,582},{111,228}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{111,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax14.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,674},{113,228}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{113,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax15.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,457},{115,228}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{115,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax16.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,352},{115,228}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{115,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax17.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,352},{115,228}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{115,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{115,228}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{115,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax19.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,340},{115,230}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{115,230}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{111,228}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{111,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax20.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,223},{115,230}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{115,230}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax21.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,104},{117,230}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{117,230}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax22.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,120},{115,230}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{115,230}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax23.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,120},{115,230}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{115,230}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{115,230}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{115,230}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax25.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,237},{113,230}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{113,230}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{113,230}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{113,230}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax27.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,382},{113,230}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{113,230}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax28.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,469},{111,228}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{111,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax29.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,574},{113,228}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{113,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{109,226}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{109,226}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{111,228}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{111,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax31.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,582},{111,228}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{111,228}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax4.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1027},{109,226}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{109,226}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax5.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,916},{109,226}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{109,226}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax6.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,812},{109,226}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{109,226}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,808},{109,226}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{109,226}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{109,226}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{109,226}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdbz_meizhi3youtoufax9.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,154},{109,226}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{109,226}}</string>
                <key>sourceSize</key>
                <string>{141,248}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,16},{7,8}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,494},{3,4}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{3,4}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,489},{3,4}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{3,4}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,484},{3,4}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{3,4}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,479},{3,4}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{3,4}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,474},{3,4}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{3,4}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,57},{7,6}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{7,6}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,49},{7,6}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{7,6}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,41},{7,6}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{7,6}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,33},{7,6}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{7,6}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,108},{5,6}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{5,6}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,101},{5,6}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{5,6}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,469},{3,4}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{3,4}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,464},{3,4}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{3,4}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,510},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,579},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,562},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,75},{6,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,13}}</string>
                <key>sourceSize</key>
                <string>{6,13}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,121},{5,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,14}}</string>
                <key>sourceSize</key>
                <string>{5,14}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,499},{3,9}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{3,9}}</string>
                <key>sourceSize</key>
                <string>{3,11}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,150},{2,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,9}}</string>
                <key>sourceSize</key>
                <string>{2,9}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,72},{1,7}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1,7}}</string>
                <key>sourceSize</key>
                <string>{1,9}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,121},{1,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,4}}</string>
                <key>sourceSize</key>
                <string>{1,4}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,457},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,148},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,115},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{4,6}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,65},{5,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,7}}</string>
                <key>sourceSize</key>
                <string>{5,7}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,25},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{6,8}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,90},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,137},{5,9}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{5,9}}</string>
                <key>sourceSize</key>
                <string>{7,11}</string>
            </dict>
            <key>part-sdhd_meizhi2_xuedix2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbz_meizhi3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:504d50cedf3fefd255fce8d693c5ce05:1/1$</string>
            <key>textureFileName</key>
            <string>sdbz_meizhi3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
