<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sdbz_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,137}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{123,137}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbz_wenhao.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2489058db992f5a23d505b8ce3432e1a:1/1$</string>
            <key>textureFileName</key>
            <string>sdbz_wenhao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
