<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sdbz_tianhou_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1574},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1181},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1016},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,847},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,788},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,678},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,509},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,395},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,340},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,171},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
            <key>part-sdbz_tianhou_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,391}}</string>
                <key>sourceSize</key>
                <string>{167,391}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbz_tianhou.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9bd1d93a90bc952763c57d102e6f5d7:1/1$</string>
            <key>textureFileName</key>
            <string>sdbz_tianhou.pvr.ccz</string>
        </dict>
    </dict>
</plist>
