<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sdbz_hdgx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,122},{94,96}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,53},{94,96}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,598},{152,152}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{152,152}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{198,198}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{198,202}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,202}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{198,202}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,202}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,202}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,202}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,202},{198,200}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,402},{198,194}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{198,194}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,598},{120,138}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,22},{120,138}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{120,136}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{120,136}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,720},{120,136}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,22},{120,136}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,842},{120,134}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{120,134}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,842},{120,124}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,31},{120,124}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>part-sdbz_hdgx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{118,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,53},{118,100}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbz_hdgx.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfd2e0dd5b2f6155b1aa5d59f9db5677:1/1$</string>
            <key>textureFileName</key>
            <string>sdbz_hdgx.pvr.ccz</string>
        </dict>
    </dict>
</plist>
