<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sdbz_jiangli_bgguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,749},{371,372}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{371,372}}</string>
                <key>sourceSize</key>
                <string>{397,422}</string>
            </dict>
            <key>part-sdbz_jiangli_bgguang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,375},{371,372}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{371,372}}</string>
                <key>sourceSize</key>
                <string>{397,422}</string>
            </dict>
            <key>part-sdbz_jiangli_bgguang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,2},{371,372}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{371,372}}</string>
                <key>sourceSize</key>
                <string>{397,422}</string>
            </dict>
            <key>part-sdbz_jiangli_bgguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,2},{371,372}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{371,372}}</string>
                <key>sourceSize</key>
                <string>{397,422}</string>
            </dict>
            <key>part-sdbz_jiangli_bgguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{371,372}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{371,372}}</string>
                <key>sourceSize</key>
                <string>{397,422}</string>
            </dict>
            <key>part-sdbz_jiangli_bgguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{371,372}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{371,372}}</string>
                <key>sourceSize</key>
                <string>{397,422}</string>
            </dict>
            <key>part-sdbz_jiangli_bgguang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{371,372}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{371,372}}</string>
                <key>sourceSize</key>
                <string>{397,422}</string>
            </dict>
            <key>part-sdbz_jiangli_bgguang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{371,372}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{371,372}}</string>
                <key>sourceSize</key>
                <string>{397,422}</string>
            </dict>
            <key>part-sdbz_jiangli_bgguang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{371,372}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{371,372}}</string>
                <key>sourceSize</key>
                <string>{397,422}</string>
            </dict>
            <key>part-sdbz_jiangli_bgguang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{371,372}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{371,372}}</string>
                <key>sourceSize</key>
                <string>{397,422}</string>
            </dict>
            <key>part-sdbz_jiangli_bgguang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{371,372}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{371,372}}</string>
                <key>sourceSize</key>
                <string>{397,422}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdbz_jiangli_bgguang.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1c6b8016bb00e8b3a73ac05d00607e6:1/1$</string>
            <key>textureFileName</key>
            <string>sdbz_jiangli_bgguang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
