<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-miaoshengyiji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,182},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,182},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,182},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,182},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,182},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,122},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,122},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,122},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,122},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,122},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,62},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,62},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,62},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,62},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,62},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-miaoshengyiji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>part-ricang_diban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,386},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,386},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,386},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,386},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,386},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,526},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,458},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,458},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,314},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,458},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,314},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,314},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,314},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,458},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,458},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,314},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,314},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,242},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,242},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,242},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,242},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,242},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,242},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,456},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,386},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengdan_miaoshengyiji.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b5377ea3cf717e4a57e90baafc8d656:1/1$</string>
            <key>textureFileName</key>
            <string>shengdan_miaoshengyiji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
