<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-juntuan_xuehua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,433},{39,55}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,864},{41,55}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,807},{43,55}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,624},{43,57}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,57}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,687},{43,59}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,335},{43,59}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,392},{39,55}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{39,55}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,140},{45,61}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,272},{47,63}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{47,63}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,504},{47,55}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,565},{49,57}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,626},{49,59}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,565},{49,59}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,504},{51,59}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{51,59}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,687},{51,57}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{51,57}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,207},{53,59}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{53,59}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,272},{53,61}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{53,61}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,807},{41,51}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,337},{53,61}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,61}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,207},{53,63}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,140},{57,65}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,748},{57,57}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{37,57}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{37,57}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,72},{37,59}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{37,59}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,396},{35,49}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{35,49}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,966},{35,55}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,907},{37,53}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{37,53}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,740},{37,55}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{37,55}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,864},{41,51}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xuehua_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,921},{43,53}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{43,53}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>part-juntuan_xueren.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,72},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>part-ricang_diban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,362},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,434},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,924},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,854},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,784},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,714},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,644},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,574},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,504},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,434},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengdan_juntuan.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be802e2d021ea38acca666291a90381a:1/1$</string>
            <key>textureFileName</key>
            <string>shengdan_juntuan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
