<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-tk1_51_yaojiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,377},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,252},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,127},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,127},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,383},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,256},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,129},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,383},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,256},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>part-tk1_51_yaojiang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{125,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tk1_yaojiang.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5424a5b032d43dfc65a827898232ca0b:1/1$</string>
            <key>textureFileName</key>
            <string>tk1_yaojiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
