<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-tk_hongbao_lizi00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,302},{70,76}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,55},{70,76}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{120,102}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,30},{120,102}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,374},{150,122}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{150,122}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,638},{170,136}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{170,136}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,744},{182,144}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{182,144}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,744},{186,152}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{186,152}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,466},{192,156}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{192,156}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,582},{194,160}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{194,160}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,484},{194,152}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,38},{194,152}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,268},{196,156}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,43},{196,156}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{198,162}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{198,162}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,268},{196,168}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,52},{196,168}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,788},{198,166}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,63},{198,166}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{198,174}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,66},{198,174}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,166},{196,176}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,73},{196,176}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,344},{196,138}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,78},{196,138}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,438},{196,142}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,83},{196,142}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,638},{176,146}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,88},{176,146}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_lizi00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,124},{176,96}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,109},{176,96}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>part-tk_hongbao_zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,394}}</string>
                <key>sourceSize</key>
                <string>{278,394}</string>
            </dict>
            <key>part-tk_hongbao_zhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{278,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,388}}</string>
                <key>sourceSize</key>
                <string>{278,388}</string>
            </dict>
            <key>part-tk_hongbao_zhi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{264,356}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{264,356}}</string>
                <key>sourceSize</key>
                <string>{278,388}</string>
            </dict>
            <key>part-tk_qianbi010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,57},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>part-tk_qianbi010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,219},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>part-tk_qianbi010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,988},{53,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,15}}</string>
                <key>sourceSize</key>
                <string>{53,15}</string>
            </dict>
            <key>part-tk_qianbi010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,988},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>part-tk_qianbi010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,166},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>part-tk_qianbi010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,112},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>part-tk_qianbi010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>part-tk_qianbi010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1005},{53,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,10}}</string>
                <key>sourceSize</key>
                <string>{53,10}</string>
            </dict>
            <key>part-tk_qianbi010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,265},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>part-tk_qianbi010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tk_kaihongbao.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9addef13976e1aac741dd70b75c7d0d:1/1$</string>
            <key>textureFileName</key>
            <string>tk_kaihongbao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
