<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-jianjunfanli_xxs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>part-jianjunfanli_xxs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{17,17}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,17}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>part-jianjunfanli_xxs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_activity_center_christ.pvr.ccz</string>
            <key>size</key>
            <string>{34,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf059162798ca70e15b397690d4e11b0:2a351f1d3fa01ff890e00116faecbe96:7d9d4a470ba480838c7b07e3aac0b945$</string>
            <key>textureFileName</key>
            <string>ui_activity_center_christ.pvr.ccz</string>
        </dict>
    </dict>
</plist>
