<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-dengjitisheng_yanhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1264},{112,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{112,96}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>part-dengjitisheng_yanhua10.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,890},{203,191}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{203,191}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>part-dengjitisheng_yanhua11.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,693},{209,195}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{209,195}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>part-dengjitisheng_yanhua12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{211,199}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{211,199}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>part-dengjitisheng_yanhua13.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,488},{213,203}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{213,203}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>part-dengjitisheng_yanhua14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{217,203}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{217,203}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>part-dengjitisheng_yanhua15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{217,205}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{217,205}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>part-dengjitisheng_yanhua16.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,281},{217,205}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{217,205}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>part-dengjitisheng_yanhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1451},{138,127}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{138,127}}</string>
                <key>sourceSize</key>
                <string>{150,139}</string>
            </dict>
            <key>part-dengjitisheng_yanhua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{152,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{152,145}}</string>
                <key>sourceSize</key>
                <string>{164,157}</string>
            </dict>
            <key>part-dengjitisheng_yanhua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1446},{166,161}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{166,161}}</string>
                <key>sourceSize</key>
                <string>{178,173}</string>
            </dict>
            <key>part-dengjitisheng_yanhua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1264},{180,171}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,171}}</string>
                <key>sourceSize</key>
                <string>{192,183}</string>
            </dict>
            <key>part-dengjitisheng_yanhua6.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1083},{189,179}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{189,179}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>part-dengjitisheng_yanhua7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{185,175}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,27},{185,175}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>part-dengjitisheng_yanhua8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1081},{193,181}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{193,181}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>part-dengjitisheng_yanhua9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{197,185}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{197,185}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>part-djts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,277}}</string>
                <key>sourceSize</key>
                <string>{396,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_award_level_up.pvr.ccz</string>
            <key>size</key>
            <string>{450,1609}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5189eb3be7ce929b0ce9519be5717f58:1748fb65d2d3670ed8cca02f6865fb6b:d0c508220c294a9c96b4e9378113779c$</string>
            <key>textureFileName</key>
            <string>ui_award_level_up.pvr.ccz</string>
        </dict>
    </dict>
</plist>
