<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-zdsl_daguangx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1963},{70,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,66}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>part-zdsl_dajianguangtx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1655},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>part-zdsl_dajianguangtx10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{134,124}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{134,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-zdsl_dajianguangtx11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{138,128}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{138,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-zdsl_dajianguangtx12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{140,132}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{140,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-zdsl_dajianguangtx13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,136}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{144,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-zdsl_dajianguangtx14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{146,138}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{146,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-zdsl_dajianguangtx15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{148,140}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{148,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-zdsl_dajianguangtx16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{150,140}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{150,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-zdsl_dajianguangtx17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{150,140}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{150,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-zdsl_dajianguangtx18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{150,142}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-zdsl_dajianguangtx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1872},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>part-zdsl_dajianguangtx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1963},{79,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,67}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>part-zdsl_dajianguangtx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1872},{96,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>part-zdsl_dajianguangtx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1769},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,101}</string>
            </dict>
            <key>part-zdsl_dajianguangtx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1655},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>part-zdsl_dajianguangtx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{126,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,119}}</string>
                <key>sourceSize</key>
                <string>{126,119}</string>
            </dict>
            <key>part-zdsl_dajianguangtx8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{132,124}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{132,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-zdsl_dajianguangtx9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{128,122}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{128,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_balance_success.pvr.ccz</string>
            <key>size</key>
            <string>{148,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c01aabc3928df0402be6a04bce21ac87:725a1ebe7c26d04c0ae7ecf1727eb606:6e6610f4e087f971149e414ce2a4675d$</string>
            <key>textureFileName</key>
            <string>ui_balance_success.pvr.ccz</string>
        </dict>
    </dict>
</plist>
