<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-qiandao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,510},{50,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{50,58}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,410},{50,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{50,64}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,396},{50,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{50,64}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,396},{50,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{50,64}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,396},{52,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{52,64}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{52,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{52,64}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,404},{52,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{52,64}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,356},{52,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,342},{52,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,342},{52,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,342},{52,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,502},{50,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{50,58}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{52,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,350},{52,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,342},{52,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,288},{52,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,288},{52,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,288},{52,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,288},{52,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{52,66}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,396},{52,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{52,64}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,450},{50,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{50,62}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,462},{50,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{50,62}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,500},{50,58}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{50,58}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,500},{50,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,17},{50,58}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,450},{50,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,17},{50,58}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{50,58}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{50,58}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,458},{50,60}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{50,60}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,448},{50,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{50,62}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,448},{50,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{50,62}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>part-qiandao_shengdanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,288},{60,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>part-ricang_diban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,286},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,218},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,218},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,218},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,218},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,218},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,216},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>part-ricang_diban_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,146},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_btn_activity_login.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d29ff8250a694101e54cacd271327c09:1/1$</string>
            <key>textureFileName</key>
            <string>ui_btn_activity_login.pvr.ccz</string>
        </dict>
    </dict>
</plist>
