<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-zhandoushengli_jianhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,32},{97,87}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{143,135}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{143,135}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{147,137}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{147,137}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{147,141}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{147,141}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{149,141}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{149,141}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{151,141}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{151,141}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{151,141}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{151,141}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,143}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{151,143}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{151,143}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{151,143}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{143,143}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{143,143}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua19.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1009},{105,143}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{105,143}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1275},{105,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{105,101}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua20.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,721},{105,99}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,51},{105,99}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1158},{115,111}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{115,111}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1716},{125,119}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{125,119}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1720},{131,125}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{131,125}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua6.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1585},{129,121}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{129,121}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1585},{133,125}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{133,125}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{137,129}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{137,129}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>part-zhandoushengli_jianhua9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1303},{141,133}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{141,133}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_flash.pvr.ccz</string>
            <key>size</key>
            <string>{252,1897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0d3dd9c2178a329d0abb0f6b22246d9:71557991f6f823dbc324867264fed03f:21c47f13871a06ae3eee6646f9194531$</string>
            <key>textureFileName</key>
            <string>ui_flash.pvr.ccz</string>
        </dict>
    </dict>
</plist>
