<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-yindaozhunxing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,212}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,212}}</string>
                <key>sourceSize</key>
                <string>{221,212}</string>
            </dict>
            <key>part-yindaozhunxing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{202,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,201}}</string>
                <key>sourceSize</key>
                <string>{202,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guide.pvr.ccz</string>
            <key>size</key>
            <string>{216,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b662e0194db698dd40fd094e9683ec27:1af63e4325b051bbba33fafa6b2cc86d:6f55860a1d1fb5d2679c6713067a0dba$</string>
            <key>textureFileName</key>
            <string>ui_guide.pvr.ccz</string>
        </dict>
    </dict>
</plist>
