<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-vip_shanguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,62},{8,9}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,9}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>part-vip_shanguang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{19,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>part-vip_shanguang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{21,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>part-vip_shanguang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,33},{21,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>part-vip_shanguang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,73},{17,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>part-vip_shanguang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,114},{9,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,16}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>part-vip_shanguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,125},{10,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>part-vip_shanguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,42},{13,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>part-vip_shanguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,125},{15,20}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>part-vip_shanguang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,91},{16,21}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>part-vip_shanguang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,100},{17,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>part-vip_shanguang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,64},{18,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>part-vip_shanguang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{19,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>part-vip_shanguang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{20,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>part-vip_xingxingshan xx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{7,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>part-vip_xingxingshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{35,38}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_home_vip.pvr.ccz</string>
            <key>size</key>
            <string>{62,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:463e9bbfec06fdd6e89b183bdaf3737d:438c8af7898c6c001f0fc53f286cea0e:2fc19a6a0c1354f819fdec7e0d399b37$</string>
            <key>textureFileName</key>
            <string>ui_home_vip.pvr.ccz</string>
        </dict>
    </dict>
</plist>
