<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-jiangling_lanse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{107,109}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{107,109}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{105,111}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{105,111}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{105,109}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{105,109}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{105,111}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{105,111}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{109,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{109,105}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1197},{109,91}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{109,91}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{109,91}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{109,91}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1601},{107,97}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{107,97}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{107,109}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{107,109}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1383},{107,107}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{107,107}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{105,111}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{105,111}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,111}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{107,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{107,107}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{109,107}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{109,107}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{109,107}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{109,107}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_lanse9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{111,109}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{111,109}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_item_light_blue.pvr.ccz</string>
            <key>size</key>
            <string>{116,1700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:115d25f9e2a96d1cea4aec83fa90ceed:193284b7b6c59100242182e0e04516af:4ce971614a59c6c0d0092e73f5c50ef3$</string>
            <key>textureFileName</key>
            <string>ui_item_light_blue.pvr.ccz</string>
        </dict>
    </dict>
</plist>
