<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-jiangling_zise1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{107,109}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{107,109}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{105,111}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{105,111}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{105,109}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{105,109}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{105,111}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{105,111}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{109,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{109,105}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1197},{109,91}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{109,91}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{109,91}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{109,91}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1601},{107,97}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{107,97}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{107,109}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{107,109}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1383},{107,107}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{107,107}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{105,111}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{105,111}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,111}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{107,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{107,107}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{109,107}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{109,107}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{109,107}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{109,107}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>part-jiangling_zise9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{111,109}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{111,109}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_item_light_purple.pvr.ccz</string>
            <key>size</key>
            <string>{116,1700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35b608d74aad112a75c1da748afbc91c:03e18abfb192e9b40268f7cd142630c9:69d3a6785f306121464b4e93b966e61a$</string>
            <key>textureFileName</key>
            <string>ui_item_light_purple.pvr.ccz</string>
        </dict>
    </dict>
</plist>
