<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-jiangling_huangse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{101,105}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{101,105}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{101,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{101,105}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{101,103}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{101,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{101,107}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{101,107}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{103,101}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{103,101}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{103,87}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{103,87}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1337},{103,87}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{103,87}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1535},{101,93}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{101,93}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{101,105}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{101,105}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{101,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{101,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{101,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{101,105}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,105}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{107,105}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1145},{101,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{101,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{103,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{103,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{103,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{103,101}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>part-jiangling_huangse9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{105,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{105,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_item_light_orange.pvr.ccz</string>
            <key>size</key>
            <string>{110,1630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fae2422e942695725f63359e7bf9c9a:d4a43f5ee9c2e247d1fee90122b9291a:eedbaa6f930827672c9daa0a85fd1866$</string>
            <key>textureFileName</key>
            <string>ui_item_light_orange.pvr.ccz</string>
        </dict>
    </dict>
</plist>
