<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-zuzhuang_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{135,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,117}}</string>
                <key>sourceSize</key>
                <string>{135,117}</string>
            </dict>
            <key>part-zuzhuang_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{162,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,171}}</string>
                <key>sourceSize</key>
                <string>{162,171}</string>
            </dict>
            <key>part-zuzhuang_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,173}}</string>
                <key>sourceSize</key>
                <string>{190,173}</string>
            </dict>
            <key>part-zuzhuangx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,341},{76,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,58}}</string>
                <key>sourceSize</key>
                <string>{78,62}</string>
            </dict>
            <key>part-zuzhuangx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,419},{74,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,58}}</string>
                <key>sourceSize</key>
                <string>{78,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_multiply_num.pvr.ccz</string>
            <key>size</key>
            <string>{194,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43ea20eed21198b4f88f535677268e1c:d966c0f0877c54bbf8577ae14389c988:df52ac46b3d193c727ad34c00ef50cf0$</string>
            <key>textureFileName</key>
            <string>ui_multiply_num.pvr.ccz</string>
        </dict>
    </dict>
</plist>
