<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sdbz_caishen_liwulizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,48},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{42,44}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{42,44}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{42,44}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{42,44}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,186},{44,42}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,33},{44,42}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{44,44}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{44,44}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,44}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{46,44}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{44,44}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{44,44}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{42,44}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{42,44}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{44,46}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{44,46}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{44,46}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{44,46}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,79},{42,40}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,34},{42,40}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,48},{42,40}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{42,40}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,140},{44,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{44,42}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,94},{44,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{44,42}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,48},{44,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{44,42}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwulizi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{44,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{44,42}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>part-sdbz_caishen_liwuyingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,48},{44,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{44,38}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_patrol_helicopter_liwu.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67644d1fe50490a305e7d1865e7d2437:1/1$</string>
            <key>textureFileName</key>
            <string>ui_patrol_helicopter_liwu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
