<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-peijian_suo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{31,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,70}</string>
            </dict>
            <key>part-peijian_suo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>part-peijian_suo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,579},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>part-peijian_suo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,539},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,16}</string>
            </dict>
            <key>part-peijian_suo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,504},{33,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{33,23}</string>
            </dict>
            <key>part-peijian_suo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,614},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>part-peijian_suo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{16,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>part-peijian_suo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>part-peijian_suo_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>part-peijian_suo_diban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>part-peijian_suo_diban3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>part-peijian_suo_diban4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>part-peijian_suo_diban5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>part-peijian_suo_tx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,68}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>part-peijian_suo_tx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>part-peijian_suo_tx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>part-peijian_suo_tx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>part-peijian_suo_tx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>part-peijian_suo_tx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_unlock_2.pvr.ccz</string>
            <key>size</key>
            <string>{60,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdd5cde1ee8c56ba1552f39851a1b7d7:9747f3aaf0069df7d781748644d530e5:824843be77e7848b32ac98838b59e05b$</string>
            <key>textureFileName</key>
            <string>ui_unlock_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
