<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duilie_suo_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>part-duilie_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{46,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>part-duilie_suo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,315},{4,5}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{4,5}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>part-duilie_suo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,469},{8,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,5}}</string>
                <key>sourceSize</key>
                <string>{8,5}</string>
            </dict>
            <key>part-duilie_suo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{28,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>part-duilie_suo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{23,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>part-duilie_suo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,469},{9,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,6}}</string>
                <key>sourceSize</key>
                <string>{9,6}</string>
            </dict>
            <key>part-duilie_suo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,413},{22,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>part-duilie_suo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,460},{11,7}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>part-duilie_suo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,461},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>part-duilie_suo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,449},{18,9}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{20,9}</string>
            </dict>
            <key>part-duilie_suo_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-duilie_suo_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-duilie_suo_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-duilie_suo_di5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-duilie_suo_di6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>part-duilie_suo_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{46,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_unlock_1.pvr.ccz</string>
            <key>size</key>
            <string>{56,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0474f51c02747db2149bebbba2f5f2e6:c36d2d65c371611d67191003e8769edb:d15fcb4c42c3c0760cb9a180bd0788bf$</string>
            <key>textureFileName</key>
            <string>ui_unlock_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
