<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-baohuxxx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1291},{47,57}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{47,57}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>part-baohuxxx10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{111,91}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{111,99}</string>
            </dict>
            <key>part-baohuxxx11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{78,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>part-baohuxxx12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1291},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>part-baohuxxx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{74,69}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>part-baohuxxx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{92,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{92,82}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>part-baohuxxx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{110,87}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,87}}</string>
                <key>sourceSize</key>
                <string>{112,95}</string>
            </dict>
            <key>part-baohuxxx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{124,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>part-baohuxxx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{124,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>part-baohuxxx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{124,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>part-baohuxxx8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{124,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>part-baohuxxx9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{118,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{118,100}</string>
            </dict>
            <key>part-baohuyyy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{246,112}}</string>
                <key>sourceSize</key>
                <string>{254,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_world_protect.pvr.ccz</string>
            <key>size</key>
            <string>{116,1358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eda771d484ba0d63d5ef05033b249b7b:45f08babeff0614bd41ad88c41473037:6ae8ededbe12520b936ac0c0f25ddba0$</string>
            <key>textureFileName</key>
            <string>ui_world_protect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
