<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-xdjx_diandiguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,164},{195,160}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{195,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,326},{187,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{187,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{179,160}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{179,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{181,160}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{181,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{187,160}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{187,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{197,160}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{197,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,326},{193,160}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{193,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,160}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{195,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,164},{199,160}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{199,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,164},{209,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{209,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{201,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{201,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,326},{193,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{193,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,164},{193,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{193,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{187,160}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{187,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>part-xdjx_diandiguang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,326},{185,160}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{185,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xdjx_diandiguang.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44a04e8dc7473fcdc4aa2ab6ff30b27a$</string>
            <key>textureFileName</key>
            <string>xdjx_diandiguang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
