<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-oeoe_lvyan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,806},{104,126}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,45},{104,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,282},{110,136}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,36},{110,136}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{112,136}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,38},{112,136}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{112,134}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,41},{112,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,140},{102,136}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{102,136}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan14.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,138},{104,134}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{104,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan15.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{104,134}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,41},{104,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{110,134}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{110,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,274},{106,132}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,42},{106,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan18.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,136},{100,128}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,45},{100,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan19.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,136},{102,132}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{102,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,270},{102,128}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,44},{102,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{102,136}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,40},{102,136}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan21.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,408},{104,128}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,47},{104,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan22.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,812},{104,130}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{104,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan23.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,414},{106,132}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,42},{106,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan24.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,832},{108,134}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,41},{108,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{110,134}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,40},{110,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan26.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,680},{104,130}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,42},{104,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan27.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,548},{104,130}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,42},{104,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan28.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,678},{106,126}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,48},{106,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan29.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,548},{106,128}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,46},{106,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{104,132}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,40},{104,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan30.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{106,126}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,46},{106,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,556},{106,134}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{106,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,142},{106,136}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,36},{106,136}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,278},{104,134}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,41},{104,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{104,136}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,38},{104,136}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,420},{106,134}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{106,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoe_lvyan9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,696},{108,134}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,39},{108,134}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>part-oeoexiangzi_lvguang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,522},{32,92}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,9},{32,92}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>part-oeoexiangzi_lvguang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,934},{24,88}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,8},{24,88}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>part-oeoexiangzi_lvguang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,616},{24,90}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,5},{24,90}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>part-oeoexiangzi_lvguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,944},{72,104}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,52},{72,104}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>part-oeoexiangzi_lvguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,806},{60,126}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{60,126}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>part-oeoexiangzi_lvguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,138}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{54,138}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>part-oeoexiangzi_lvguang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{52,138}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{52,138}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>part-oeoexiangzi_lvguang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{50,138}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{50,138}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>part-oeoexiangzi_lvguang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{48,134}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,10},{48,134}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>part-oeoexiangzi_lvguang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,968},{44,134}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{44,134}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>part-oeoexiangzi_lvguang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,400},{34,120}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{34,120}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>part-xiangzi_asdad.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,934},{108,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,70}}</string>
                <key>sourceSize</key>
                <string>{108,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiangzi.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df53f9627ca86a322a6d14c54ede68c3:1/1$</string>
            <key>textureFileName</key>
            <string>xiangzi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
