<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-zzsys_dl0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{242,202}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,116},{242,202}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,608},{250,226}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,92},{250,226}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{250,254}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{250,254}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,322},{250,284}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{250,284}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{248,302}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{248,302}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,318}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{236,318}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{222,314}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{222,314}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,608},{182,254}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{182,254}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{112,174}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,96},{112,174}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,116},{112,124}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,141},{112,124}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,860},{112,126}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,135},{112,126}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,860},{112,128}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,129},{112,128}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,864},{112,128}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,125},{112,128}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,864},{112,130}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,120},{112,130}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,206},{110,110}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,137},{110,110}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>part-zzsys_dl0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,206},{110,104}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,140},{110,104}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zzsys_dl.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b2709e1e65723574458614972a4731a:1/1$</string>
            <key>textureFileName</key>
            <string>zzsys_dl.pvr.ccz</string>
        </dict>
    </dict>
</plist>
