<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-zzsys_bg_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1756},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1462},{290,292}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1756},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1462},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1170},{290,292}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1170},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,878},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,878},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,586},{290,292}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,586},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,294},{290,292}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,294},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
            <key>part-zzsys_bg_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,292}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{290,292}}</string>
                <key>sourceSize</key>
                <string>{320,318}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zzsys_bg.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f486907b00304cb5aee3b6c016e813c:1/1$</string>
            <key>textureFileName</key>
            <string>zzsys_bg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
