<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sj_feiting_baozha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,265},{37,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{37,35}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>part-sj_feiting_baozha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,163},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>part-sj_feiting_baozha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,61},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,56}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>part-sj_feiting_baozha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,59},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>part-sj_feiting_baozha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{55,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>part-sj_feiting_baozha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>part-sj_feiting_baozha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>part-sj_feiting_baozha_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,61},{57,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>part-sj_feiting_baozha_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>part-sj_feiting_baozha_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,115},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>part-sj_feiting_baozha_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{58,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,46}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>part-sj_feiting_baozha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,264},{43,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>part-sj_feiting_baozha_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,164},{54,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{54,48}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>part-sj_feiting_baozha_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,210},{53,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{53,45}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>part-sj_feiting_baozha_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{53,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{53,44}}</string>
                <key>sourceSize</key>
                <string>{59,46}</string>
            </dict>
            <key>part-sj_feiting_baozha_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,163},{55,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{55,45}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>part-sj_feiting_baozha_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,117},{56,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,45}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>part-sj_feiting_baozha_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,116},{56,45}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{56,45}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>part-sj_feiting_baozha_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{58,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,44}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>part-sj_feiting_baozha_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{57,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{57,32}}</string>
                <key>sourceSize</key>
                <string>{63,42}</string>
            </dict>
            <key>part-sj_feiting_baozha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,259},{44,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,36}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>part-sj_feiting_baozha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,216},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>part-sj_feiting_baozha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,216},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{47,41}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>part-sj_feiting_baozha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{47,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,46}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>part-sj_feiting_baozha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,257},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,48}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>part-sj_feiting_baozha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,214},{49,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>part-sj_feiting_baozha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{51,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sj_feiting_baozha.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd8eeacad82acc1aa90d8a603f7d42e:1/1$</string>
            <key>textureFileName</key>
            <string>sj_feiting_baozha.pvr.ccz</string>
        </dict>
    </dict>
</plist>
