<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sj_feiting_zdbs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,144},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>part-sj_feiting_zdbs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,148},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>part-sj_feiting_zdbs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,180},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>part-sj_feiting_zdbs4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,164},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{82,72}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,45},{82,72}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{80,88}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{80,88}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,116},{80,92}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{80,92}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{80,100}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{80,100}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{84,104}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{84,104}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{86,106}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{86,106}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,112}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{88,112}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{88,78}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,47},{88,78}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan17.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,428},{92,82}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,42},{92,82}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan18.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,330},{96,84}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,39},{96,84}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan19.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,416},{94,88}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{94,88}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,76},{72,66}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,51},{72,66}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan20.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,224},{94,94}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{94,94}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan21.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,320},{94,92}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{94,92}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,76},{74,70}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,49},{74,70}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{76,72}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,48},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{78,72}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{78,72}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,84},{78,76}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,44},{78,76}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,218},{78,80}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,39},{78,80}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,80}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{80,80}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>part-sj_feiting_zdbs_huoyan9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,92},{78,86}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{78,86}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sj_feiting_zdbs.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc94d231844e8bf0de1100c3f77ca98d:1/1$</string>
            <key>textureFileName</key>
            <string>sj_feiting_zdbs.pvr.ccz</string>
        </dict>
    </dict>
</plist>
