<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-bushizhe_attac01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{46,74}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,56},{46,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,50},{68,86}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{68,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,88},{80,94}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,39},{80,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac04.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,138},{84,92}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{84,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{84,96}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,37},{84,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac06.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{86,98}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,37},{86,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac07.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{82,100}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{82,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,388},{110,124}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{110,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,128}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{116,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{116,126}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{116,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{116,126}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{116,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{116,102}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,35},{116,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac13.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,86},{92,94}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,41},{92,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac14.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,202},{34,54}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,80},{34,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac15.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,170},{30,56}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,78},{30,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac16.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,232},{24,50}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,80},{24,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac17.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,198},{22,52}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,81},{22,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac18.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,222},{26,50}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,85},{26,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac19.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,238},{20,46}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,84},{20,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac20.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,170},{26,60}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,73},{26,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac21.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,180},{20,60}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,74},{20,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac22.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,180},{26,56}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,74},{26,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac23.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,232},{24,50}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,80},{24,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac24.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,228},{20,48}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,83},{20,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac25.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,238},{16,48}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,82},{16,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-bushizhe_attac26.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,238},{18,16}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,88},{18,16}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bushizhe_attack.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3fa0ecf181ad706dc6210fa2f5f41b:1/1$</string>
            <key>textureFileName</key>
            <string>bushizhe_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
