<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-cidian_attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{36,60}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,38},{36,60}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,304},{46,60}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,32},{46,60}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,254},{56,64}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,29},{56,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,180},{56,72}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{56,72}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,254},{48,66}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,34},{48,66}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,302},{46,60}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,34},{46,60}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{68,66}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,28},{68,66}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{100,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{100,76}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack09.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,88},{106,80}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{106,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{108,80}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{108,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{112,84}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{112,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,74}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{116,74}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,170},{92,82}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{92,82}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,312},{42,56}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,41},{42,56}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{44,44}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,50},{44,44}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{48,46}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,54},{48,46}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{46,58}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,42},{46,58}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack18.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,352},{46,50}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,44},{46,50}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{36,46}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,46},{36,46}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack20.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,430},{40,42}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{40,42}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack21.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,474},{36,38}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,55},{36,38}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack22.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,474},{36,36}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{36,36}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack23.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,120},{30,30}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{30,30}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack24.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,88},{30,30}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,61},{30,30}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack25.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,152},{26,26}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,65},{26,26}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>part-cidian_attack26.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{26,12}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,79},{26,12}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cidian_attack.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:305ff63b67e5bbb45435f6d06548cffd:1/1$</string>
            <key>textureFileName</key>
            <string>cidian_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
