<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-cineng_path01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,154}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,68},{174,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-cineng_path02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,328},{114,96}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{114,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,346},{112,102}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{112,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,222},{104,122}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{104,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,122},{112,122}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{112,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,102},{118,122}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{118,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path07.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{128,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{128,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path08.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{124,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{124,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path09.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,236},{114,108}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{116,114}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{116,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{114,106}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{114,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{106,96}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{106,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,424},{96,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{96,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path14.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,328},{104,94}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{104,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path15.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,450},{90,92}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,27},{90,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path16.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,426},{92,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,26},{92,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{90,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,29},{90,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path18.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,520},{86,86}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{86,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path19.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,102},{78,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{78,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path20.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,184},{78,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{78,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-cineng_path21.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{72,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,36},{72,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cineng_path.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:565a91975586a48d9f82abc951e67449:1/1$</string>
            <key>textureFileName</key>
            <string>cineng_path.pvr.ccz</string>
        </dict>
    </dict>
</plist>
