<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-cineng_attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,94},{70,92}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,82},{70,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,284},{72,102}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,77},{72,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,94},{72,134}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,46},{72,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{88,142}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,36},{88,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{86,142}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{86,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,172}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,21},{84,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack07.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{88,156}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,20},{88,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{90,150}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,28},{90,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack09.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{100,154}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{100,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,158},{96,140}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,38},{96,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,220},{86,110}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,28},{86,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,92},{90,126}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{90,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,168},{90,114}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,30},{90,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,308},{82,106}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{82,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,168},{78,114}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,36},{78,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,284},{80,112}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,37},{80,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,440},{70,110}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,38},{70,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack18.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,320},{78,112}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,38},{78,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack19.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,366},{72,112}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,39},{72,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack20.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,440},{68,106}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,41},{68,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack21.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,440},{62,62}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,43},{62,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack22.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,388},{60,62}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,43},{60,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack23.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,450},{56,58}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,45},{56,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-cineng_attack24.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,388},{50,50}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cineng_attack.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25c3d5669a85422a69895d4c8c4a7549:1/1$</string>
            <key>textureFileName</key>
            <string>cineng_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
