<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-gltk_shouji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,720},{108,112}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,72},{108,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{162,242}}</string>
                <key>offset</key>
                <string>{41,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,8},{162,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{160,242}}</string>
                <key>offset</key>
                <string>{41,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,7},{160,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{158,242}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,7},{158,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,490},{154,240}}</string>
                <key>offset</key>
                <string>{40,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,8},{154,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{144,156}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{144,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{182,196}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{182,196}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,238},{200,220}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{200,220}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,486},{210,232}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{210,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{214,234}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{214,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,246},{214,238}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{214,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,734},{162,240}}</string>
                <key>offset</key>
                <string>{41,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,10},{162,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-gltk_shouji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,242}}</string>
                <key>offset</key>
                <string>{41,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,8},{164,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gltk_shouji.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08f232285bc1190bde04c2aaa42919d1:1/1$</string>
            <key>textureFileName</key>
            <string>gltk_shouji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
