<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-gltk_dilie_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,929},{56,91}}</string>
                <key>offset</key>
                <string>{-80,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{56,91}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,683},{62,97}}</string>
                <key>offset</key>
                <string>{-83,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{62,97}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,811},{72,99}}</string>
                <key>offset</key>
                <string>{-81,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{72,99}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{92,105}}</string>
                <key>offset</key>
                <string>{-74,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{92,105}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{116,111}}</string>
                <key>offset</key>
                <string>{-65,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{116,111}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,677},{132,101}}</string>
                <key>offset</key>
                <string>{-60,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{132,101}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,683},{132,97}}</string>
                <key>offset</key>
                <string>{-44,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{132,97}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{152,89}}</string>
                <key>offset</key>
                <string>{-35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{152,89}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{166,95}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{166,95}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{178,101}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{178,101}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,604},{190,77}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{190,77}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00067.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,207},{204,81}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{204,81}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00069.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,124},{214,81}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{214,81}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00071.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,39},{222,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{222,83}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00073.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,381},{228,89}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{228,89}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00075.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,290},{230,89}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{230,89}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00077.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,472},{234,97}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{234,97}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{238,101}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{238,101}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{236,89}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,9},{236,89}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{236,79}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{236,79}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00085.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{224,35}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,49},{224,35}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00087.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,214},{196,33}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,51},{196,33}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00089.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,412},{194,33}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{194,33}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00091.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,571},{194,31}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{194,31}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00093.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,571},{192,31}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,51},{192,31}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{190,29}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{190,29}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_dilie_00097.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,489},{186,25}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,55},{186,25}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>part-gltk_guangdian_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,210}}</string>
                <key>sourceSize</key>
                <string>{281,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gltk_dilie.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9d082045a388d9c262e15613c598bb8:1/1$</string>
            <key>textureFileName</key>
            <string>gltk_dilie.pvr.ccz</string>
        </dict>
    </dict>
</plist>
