<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-sdzy_shouji_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,338},{82,82}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,127},{82,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,906},{108,110}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,108},{108,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,422},{132,136}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,90},{132,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00062.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,630},{152,156}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,75},{152,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00064.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{170,174}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{170,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00066.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,200},{184,186}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,54},{184,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00068.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{196,190}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,45},{196,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00070.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,434},{194,190}}</string>
                <key>offset</key>
                <string>{-20,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,38},{194,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00072.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,234},{184,198}}</string>
                <key>offset</key>
                <string>{-21,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{184,198}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00074.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,462},{182,206}}</string>
                <key>offset</key>
                <string>{-24,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,29},{182,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00076.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,686},{188,212}}</string>
                <key>offset</key>
                <string>{-24,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{188,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{192,218}}</string>
                <key>offset</key>
                <string>{-22,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,23},{192,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{196,222}}</string>
                <key>offset</key>
                <string>{-21,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{196,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{198,226}}</string>
                <key>offset</key>
                <string>{-19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{198,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,230}}</string>
                <key>offset</key>
                <string>{-18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{202,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00086.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{132,166}}</string>
                <key>offset</key>
                <string>{-49,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{132,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00088.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,170},{128,166}}</string>
                <key>offset</key>
                <string>{-47,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{128,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00090.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,630},{128,164}}</string>
                <key>offset</key>
                <string>{-48,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{128,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00092.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,796},{128,160}}</string>
                <key>offset</key>
                <string>{-48,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{128,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{116,154}}</string>
                <key>offset</key>
                <string>{-42,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,18},{116,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-sdzy_shouji_00096.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,900},{108,148}}</string>
                <key>offset</key>
                <string>{-39,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,18},{108,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sdzy_shouji.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aadd6ecb2910ed2875d2e49ddec1a67a:1/1$</string>
            <key>textureFileName</key>
            <string>sdzy_shouji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
