<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-swsx_xuli_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,891},{97,163}}</string>
                <key>offset</key>
                <string>{20,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,17},{97,163}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{123,319}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{123,319}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,319}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{123,319}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{121,319}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,19},{121,319}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,644},{117,315}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{117,315}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{117,311}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,27},{117,311}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,315},{115,309}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,29},{115,309}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,315},{109,301}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,37},{109,301}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{101,289}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,48},{101,289}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{99,279}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,59},{99,279}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,618},{91,271}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,67},{91,271}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,618},{87,263}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,75},{87,263}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,283},{83,251}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,86},{83,251}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,283},{81,243}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,95},{81,243}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,536},{77,231}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,107},{77,231}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,615},{81,217}}</string>
                <key>offset</key>
                <string>{6,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,120},{81,217}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,834},{85,205}}</string>
                <key>offset</key>
                <string>{6,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,133},{85,205}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{91,209}}</string>
                <key>offset</key>
                <string>{6,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,129},{91,209}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
            <key>part-swsx_xuli_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,961},{61,171}}</string>
                <key>offset</key>
                <string>{8,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,167},{61,171}}</string>
                <key>sourceSize</key>
                <string>{191,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>swsx_xuli.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7772a39b31c1721c7657ad0e81b79795:1/1$</string>
            <key>textureFileName</key>
            <string>swsx_xuli.pvr.ccz</string>
        </dict>
    </dict>
</plist>
