<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-wmhj_xuli_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,584},{44,94}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,52},{44,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{102,80}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,15},{102,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,254},{120,128}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{120,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,438},{110,114}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{110,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,246},{106,130}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{106,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{102,120}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{102,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,582},{104,106}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{104,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,134},{118,136}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{118,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{122,134}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{122,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{124,126}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{124,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{130,140}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,114},{136,130}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{136,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,142}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{138,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,354},{122,126}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{122,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{140,110}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{140,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,376},{126,108}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{126,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,478},{116,102}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{116,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,486},{110,96}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{110,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,326},{110,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,28},{110,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{110,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{110,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,106},{108,76}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,32},{108,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,216},{108,58}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,37},{108,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,550},{108,38}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,48},{108,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>part-wmhj_xuli_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,216},{104,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,63},{104,22}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wmhj_xuli.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45e3138d37a283c5e12776edcbd660c7:1/1$</string>
            <key>textureFileName</key>
            <string>wmhj_xuli.pvr.ccz</string>
        </dict>
    </dict>
</plist>
