<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-zhunao_shot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{160,156}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{160,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,376},{180,188}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{180,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{182,188}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{182,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{190,192}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{190,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,194}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{190,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot06.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,194},{188,180}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{188,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{170,182}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{170,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,558},{132,160}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{132,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot09.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,170},{124,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,40},{124,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,692},{106,104}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,42},{106,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{166,116}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,37},{166,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot12.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,468},{160,106}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,42},{160,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot13.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,296},{170,108}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{170,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot14.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,630},{140,98}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,47},{140,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-zhunao_shot15.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,558},{58,44}}</string>
                <key>offset</key>
                <string>{25,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,63},{58,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhunao_shot.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd6852cc422c6db87443fc8ea3ae376f:1/1$</string>
            <key>textureFileName</key>
            <string>zhunao_shot.pvr.ccz</string>
        </dict>
    </dict>
</plist>
