<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-zhunao_all01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{156,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{156,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{160,150}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,154},{160,150}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,150}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,150}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,300},{160,144}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all08.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,154},{160,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all09.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,306},{158,142}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{158,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,446},{156,130}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{156,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{150,110}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{22,30}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,49},{22,30}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all13.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,446},{34,28}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,53},{34,28}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all14.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,482},{30,26}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,53},{30,26}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-zhunao_all15.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,34},{6,8}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,68},{6,8}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhunao_all.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4716d37dbd0ed696b4a4fcdebcb630ad:1/1$</string>
            <key>textureFileName</key>
            <string>zhunao_all.pvr.ccz</string>
        </dict>
    </dict>
</plist>
