<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-zhunao_attack_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{88,130}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,87},{88,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{108,128}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,91},{108,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,652},{128,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,90},{128,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{138,118}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,103},{138,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{126,124}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,93},{126,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,520},{130,136}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,83},{130,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,514},{150,138}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,79},{150,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,180},{206,180}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,49},{206,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{216,176}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,43},{216,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,180}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,41},{224,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{160,172}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,52},{160,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{160,180}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,48},{160,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,362},{156,168}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,47},{156,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,362},{150,156}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,55},{150,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>part-zhunao_attack_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{58,104}}</string>
                <key>offset</key>
                <string>{-32,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,67},{58,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhunao_attack.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb59ca449d64bdfeeb34a45767515003:1/1$</string>
            <key>textureFileName</key>
            <string>zhunao_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
