<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-v3_boss_bz_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,480},{142,152}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{142,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,324},{160,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,324},{160,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,164},{160,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,324},{156,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{156,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,480},{148,152}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{148,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,480},{138,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{138,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,482},{128,134}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{128,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,612},{116,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{116,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,624},{100,110}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,27},{100,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,726},{96,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{96,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,630},{96,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{96,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,322},{160,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,322},{160,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,164},{160,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,164},{160,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{160,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,162},{160,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>part-v3_boss_bz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>v3_boss_bz_output.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21cda6a347ffba171fbf81bddbd88cde:1/1$</string>
            <key>textureFileName</key>
            <string>v3_boss_bz_output.pvr.ccz</string>
        </dict>
    </dict>
</plist>
