<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-v3_boss_shuaxin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{118,270}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,45},{118,270}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,342}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{142,342}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,440},{70,164}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,90},{70,164}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,274},{70,164}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,90},{70,164}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,904},{74,168}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,88},{74,168}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,566},{72,168}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,88},{72,168}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,736},{74,166}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,90},{74,166}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,824},{78,168}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,88},{78,168}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,918},{78,170}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,86},{78,170}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,904},{72,158}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,98},{72,158}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{148,340}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{148,340}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{150,322}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{150,322}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{152,328}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{152,328}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,326},{152,306}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{152,306}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{152,290}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{152,290}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,634},{152,282}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{152,282}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,294},{146,270}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,45},{146,270}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>part-v3_boss_shuaxin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,566},{138,256}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,52},{138,256}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>v3_boss_shuaxin_output.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71743353e436d654df5f92229ff81159:1/1$</string>
            <key>textureFileName</key>
            <string>v3_boss_shuaxin_output.pvr.ccz</string>
        </dict>
    </dict>
</plist>
