<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-v3_boss_dd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,525},{57,151}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,104},{57,151}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{63,211}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{63,211}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,374},{63,197}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{63,197}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{63,183}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,183}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,500},{63,169}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{63,169}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,250},{61,151}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{61,151}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,584},{59,71}}</string>
                <key>offset</key>
                <string>{-2,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,403},{59,81}}</string>
                <key>offset</key>
                <string>{-2,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,464},{59,109}}</string>
                <key>offset</key>
                <string>{-2,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{59,109}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{59,147}}</string>
                <key>offset</key>
                <string>{-2,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{59,147}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{59,181}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{59,181}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{57,159}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,96},{57,159}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{57,207}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{57,207}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,250},{57,221}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{57,221}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,69},{57,229}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{57,229}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{55,229}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{55,229}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,128},{55,229}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{55,229}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,565},{52,150}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,61},{52,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_boss_dd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,439},{59,183}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,73},{59,183}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,309},{63,207}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,49},{63,207}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,185},{63,227}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{63,227}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{65,243}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{65,243}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,249}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{65,249}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{65,241}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{65,241}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
            <key>part-v3_boss_dd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{63,221}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{63,221}}</string>
                <key>sourceSize</key>
                <string>{87,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>v3_boss_dd_output.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a409d1e1fd5f2398ad9e8763ae139e9c:1/1$</string>
            <key>textureFileName</key>
            <string>v3_boss_dd_output.pvr.ccz</string>
        </dict>
    </dict>
</plist>
