<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>szn_zhuchengpifu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,399},{35,21}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{35,21}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,613},{35,35}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{35,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,601},{41,45}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{41,45}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,455},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>szn_zhuchengpifu_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,161}}</string>
                <key>sourceSize</key>
                <string>{241,161}</string>
            </dict>
            <key>szn_zhuchengpifu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,656},{41,41}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{41,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,582},{41,43}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{41,43}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,94},{43,45}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{43,45}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,570},{41,43}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{41,43}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,685},{37,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{37,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,683},{41,39}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{41,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{43,41}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{43,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,225},{41,45}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{41,45}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,182},{45,41}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{45,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,205},{33,31}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{33,31}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,139},{45,41}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{45,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,570},{41,43}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{41,43}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{45,45}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{45,45}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,637},{41,41}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{41,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,640},{43,41}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{43,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,582},{43,39}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{43,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,637},{41,41}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{41,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,644},{41,39}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{41,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,619},{43,35}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{43,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,719},{41,35}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{41,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,240},{33,39}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,680},{41,37}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{41,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,49},{45,43}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{45,43}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,623},{41,41}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{41,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,570},{41,43}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{41,43}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,724},{37,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{37,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,281},{33,35}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{33,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,318},{29,31}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{29,31}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,349},{25,27}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{25,27}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,376},{21,23}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{21,23}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,436},{17,19}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,30},{17,19}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,582},{43,35}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{43,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,471},{13,15}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,34},{13,15}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,464},{9,11}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,38},{9,11}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,542},{57,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{57,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,521},{57,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{57,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,466},{57,65}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{57,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,466},{57,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{57,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,406},{57,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,348},{57,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,293},{57,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,454},{57,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{57,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,763},{39,35}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{39,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{57,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{57,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,293},{57,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,224},{57,67}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,59},{57,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{57,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,224},{57,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,337},{57,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,454},{57,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{57,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,475},{57,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{57,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{55,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{35,37}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{35,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{55,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{55,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,464},{55,67}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,173},{55,69}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,118},{55,69}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,409},{55,67}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,118},{55,69}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,409},{55,67}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,397},{55,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,397},{55,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,680},{39,41}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{39,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,116},{55,69}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{55,67}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,289},{57,67}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,234},{57,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,407},{55,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,61},{55,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,59},{55,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,352},{55,67}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,580},{55,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{55,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,525},{55,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{55,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,724},{39,39}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{39,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,352},{55,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{55,69}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,340},{55,67}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,340},{55,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,525},{55,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{55,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,513},{55,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{55,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{55,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{57,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,234},{57,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,268},{57,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,601},{45,37}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{45,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>szn_zhuchengpifu_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,230},{57,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,283},{55,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,175},{57,67}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,283},{55,67}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{55,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,175},{57,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,165},{57,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{57,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,165},{57,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{57,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,513},{55,65}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{55,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>szn_zhuchengpifu_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,165},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_s_2005_action.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b0feb07821f635b41335b06f91ff8ce:1/1$</string>
            <key>textureFileName</key>
            <string>w_s_2005_action.pvr.ccz</string>
        </dict>
    </dict>
</plist>
