<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-tk_pfbhz1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,100},{16,8}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,16},{16,8}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,246},{28,14}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,13},{28,14}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,206},{38,18}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,12},{38,18}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,614},{50,24}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,10},{50,24}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,254},{60,30}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,8},{60,30}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,192},{72,36}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,6},{72,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,108},{82,40}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,6},{82,40}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,266},{94,46}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,4},{94,46}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,316},{104,50}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,5},{104,50}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,286},{114,54}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,5},{114,54}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,254},{124,60}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,4},{124,60}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,362},{134,64}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,5},{134,64}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{144,70}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{144,70}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,392},{152,74}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,5},{152,74}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,304},{162,80}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{162,80}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,304},{170,86}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{170,86}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,212},{178,90}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,5},{178,90}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,208},{186,94}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{186,94}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,108},{192,98}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{192,98}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,206},{200,100}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{200,100}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,108},{206,102}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{206,102}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,100},{212,104}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{212,104}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{216,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{216,104}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{222,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{222,104}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz1_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{226,96}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,43},{226,96}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>part-tk_pfbhz3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,250}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>part-tk_pfbhz4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,326},{30,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{30,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,310},{30,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{30,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,422},{30,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{30,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,304},{32,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,368},{30,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{30,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,462},{28,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{28,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,368},{28,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{28,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,338},{28,96}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{28,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,308},{28,96}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{28,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,212},{28,96}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{28,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,286},{22,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{22,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,498},{22,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{22,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,450},{24,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{24,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,500},{22,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{22,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,474},{22,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{22,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,398},{24,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{24,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,424},{24,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{24,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,516},{24,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{24,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,450},{22,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{22,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,560},{24,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{24,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,406},{24,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{24,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,524},{24,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{24,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,398},{24,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{24,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,424},{24,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{24,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,476},{22,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{22,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{22,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{22,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,480},{24,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{24,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,600},{22,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{22,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,576},{22,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{22,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz4_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,384},{22,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{22,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>part-tk_pfbhz_00001 .png</key>
            <dict>
                <key>frame</key>
                <string>{{348,516},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,504},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,490},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,464},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,438},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,412},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,386},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,524},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,472},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,402},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,360},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,308},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,420},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,368},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>part-tk_pfbhz_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_s_2003_shield.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cae7df9f17e8b1e6ea9621737e3a45d7:1/1$</string>
            <key>textureFileName</key>
            <string>w_s_2003_shield.pvr.ccz</string>
        </dict>
    </dict>
</plist>
