<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-pifu_jidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,151}}</string>
                <key>sourceSize</key>
                <string>{275,151}</string>
            </dict>
            <key>part-tk_pfbhz_deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{58,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{58,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_s_2003_action.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b405b1290bd08a884726ecf27e62eefc:1/1$</string>
            <key>textureFileName</key>
            <string>w_s_2003_action.pvr.ccz</string>
        </dict>
    </dict>
</plist>
