<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-shijie_xueren_bizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,85},{17,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>part-shijie_xueren_fanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,163}}</string>
                <key>sourceSize</key>
                <string>{254,163}</string>
            </dict>
            <key>part-shijie_xueren_liwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,280},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>part-shijie_xueren_qizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>part-shijie_xueren_qizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,154},{24,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,63}}</string>
                <key>sourceSize</key>
                <string>{24,63}</string>
            </dict>
            <key>part-shijie_xueren_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,355},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>part-shijie_xueren_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,258},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>part-shijie_xueren_yanwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,331},{53,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,42}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>part-shijie_xueren_yanwu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>part-shijie_xueren_yanwu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>part-shijie_xueren_yanwu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,308},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>part-shijie_xueren_yanwu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>part-shijie_xueren_yanwu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,280},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,49}}</string>
                <key>sourceSize</key>
                <string>{58,49}</string>
            </dict>
            <key>part-shijie_xueren_yanwu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,230},{61,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>part-shijie_xueren_yanwu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>part-shijie_xueren_yanwu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,180},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>part-shijie_xueren_yanwu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,103},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>part-shijie_xueren_yanwu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,52},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>part-shijie_xueren_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,66},{22,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,17}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>part-shijie_xueren_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,85},{10,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,3}}</string>
                <key>sourceSize</key>
                <string>{10,3}</string>
            </dict>
            <key>part-shijie_xueren_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,48},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_s_2002_action.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a442738d4a7a18d277d9b36be21c31b:1/1$</string>
            <key>textureFileName</key>
            <string>w_s_2002_action.pvr.ccz</string>
        </dict>
    </dict>
</plist>
