<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-bianfu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,238},{13,6}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,6}}</string>
                <key>sourceSize</key>
                <string>{15,6}</string>
            </dict>
            <key>part-bianfu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,260},{15,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,7}</string>
            </dict>
            <key>part-bianfu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,246},{5,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,10}}</string>
                <key>sourceSize</key>
                <string>{5,12}</string>
            </dict>
            <key>part-bianfu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,253},{9,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{9,5}}</string>
                <key>sourceSize</key>
                <string>{9,7}</string>
            </dict>
            <key>part-wangshengjie_yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,658},{40,39}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{40,39}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>part-wangshengjie_yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,704},{68,78}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{68,78}}</string>
                <key>sourceSize</key>
                <string>{120,122}</string>
            </dict>
            <key>part-wangshengjieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,234}}</string>
                <key>sourceSize</key>
                <string>{308,234}</string>
            </dict>
            <key>part-zhuguang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,520},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,658},{90,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,614},{90,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,472},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,472},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,426},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,426},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,378},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,378},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,332},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,332},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,284},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,284},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,238},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,238},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,190},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,190},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{90,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,566},{90,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,612},{90,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,566},{90,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,520},{90,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,96},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,96},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>part-zhuguang_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{92,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_s_2001_action.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90fb9e087580af593b717b4b66d96a4c:1/1$</string>
            <key>textureFileName</key>
            <string>w_s_2001_action.pvr.ccz</string>
        </dict>
    </dict>
</plist>
