<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-ao_yanjing_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,68}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,958},{52,32}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,22},{52,32}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,746},{52,34}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,21},{52,34}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,846},{54,34}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,21},{54,34}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,902},{54,34}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,21},{54,34}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,180},{56,36}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,140},{56,38}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,19},{56,38}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,98},{56,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,56},{56,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,14},{56,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,19},{56,40}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{54,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,19},{54,40}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,628},{54,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,21},{54,38}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{54,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,21},{54,38}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,690},{54,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,21},{54,38}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{54,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,21},{54,38}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{54,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,21},{54,38}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{54,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,22},{54,36}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{54,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,23},{54,34}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{54,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,22},{54,34}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,790},{54,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,23},{54,32}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,628},{54,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,24},{54,30}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,690},{54,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,23},{54,30}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,846},{54,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{54,28}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,902},{54,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{54,28}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,958},{54,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{54,28}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,958},{54,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,25},{54,28}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,746},{52,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,25},{52,28}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,790},{52,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{52,28}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,844},{52,30}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,23},{52,30}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,902},{52,30}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,24},{52,30}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-ao_yanjing_huo_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,790},{52,32}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,22},{52,32}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>part-aogusite_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{57,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,10}}</string>
                <key>sourceSize</key>
                <string>{57,10}</string>
            </dict>
            <key>part-aogusite_qianjing0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,649},{139,67}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{139,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{141,67}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{141,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,414},{143,67}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{143,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,287},{145,65}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{145,65}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,276},{145,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{145,65}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{145,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{145,65}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,220},{145,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{145,65}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{145,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{145,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{145,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{145,69}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,363},{143,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{143,69}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,343},{143,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{143,69}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{143,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{143,69}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{145,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{145,69}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,151},{145,67}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{145,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{143,67}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{143,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,140},{145,67}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{145,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,71},{145,67}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{145,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,209},{145,65}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{145,65}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,423},{143,65}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{143,65}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{145,67}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{145,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,354},{143,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{143,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,218},{143,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{143,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,552},{141,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{141,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,490},{141,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{141,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{141,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{141,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,483},{141,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{141,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,508},{139,69}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{139,69}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,621},{139,67}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{139,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_qianjing0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,559},{139,67}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{139,67}}</string>
                <key>sourceSize</key>
                <string>{163,75}</string>
            </dict>
            <key>part-aogusite_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>aogusitetouxiang.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddd2fccab6a8b460ebf8eec52a40a3e0:1/1$</string>
            <key>textureFileName</key>
            <string>aogusitetouxiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
