<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-diaoge_jx_bh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{245,203}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{245,203}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
            <key>part-diaoge_jx_bh10.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,215},{245,205}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{245,205}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
            <key>part-diaoge_jx_bh11.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,424},{245,203}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{245,203}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
            <key>part-diaoge_jx_bh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,422},{245,203}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{245,203}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
            <key>part-diaoge_jx_bh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,213},{245,209}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,209}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
            <key>part-diaoge_jx_bh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{245,211}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,211}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
            <key>part-diaoge_jx_bh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,213}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,213}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
            <key>part-diaoge_jx_bh6.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{245,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{245,211}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
            <key>part-diaoge_jx_bh7.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{245,209}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{245,209}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
            <key>part-diaoge_jx_bh8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{245,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{245,207}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
            <key>part-diaoge_jx_bh9.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,215},{245,207}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{245,207}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beihou_diaoge.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a440efa3114e328afc18f90b2c13c27e$</string>
            <key>textureFileName</key>
            <string>beihou_diaoge.pvr.ccz</string>
        </dict>
    </dict>
</plist>
