<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-anxing_bg_guang_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{254,195}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{254,195}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{254,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,203}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{254,197}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{254,197}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{254,199}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{254,199}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,203}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,203}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,565},{254,183}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{254,187}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{254,187}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,203},{254,185}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{254,185}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1112},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1112},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,933},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,931},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,770},{254,181}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{254,181}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,931},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1794},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,750},{254,181}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{254,181}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,514},{254,183}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,388},{254,183}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,386},{254,183}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,380},{254,183}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1538},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,1026},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,933},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,754},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,754},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,752},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,750},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,750},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,573},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,571},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,569},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,569},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,390},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,388},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,388},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,571},{254,181}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{254,181}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,201},{254,185}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{254,185}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,207},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,207},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{254,179}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{254,179}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,199},{254,185}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{254,185}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,258},{254,183}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{254,183}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,193},{254,185}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{254,185}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
            <key>part-anxing_bg_guang_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{254,189}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{254,189}}</string>
                <key>sourceSize</key>
                <string>{254,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beihou_anxing.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90f4dc6fea00946d888722780c14fdf:1/1$</string>
            <key>textureFileName</key>
            <string>beihou_anxing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
