<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-diaoge_guangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,255},{48,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{48,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>part-diaoge_gunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{8,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,164}}</string>
                <key>sourceSize</key>
                <string>{8,164}</string>
            </dict>
            <key>part-diaoge_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,116}}</string>
                <key>sourceSize</key>
                <string>{232,116}</string>
            </dict>
            <key>part-diaoge_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{153,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,173}}</string>
                <key>sourceSize</key>
                <string>{153,173}</string>
            </dict>
            <key>part-diaoge_xiasheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,329},{105,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,131}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>part-diaoge_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,42},{37,18}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{37,18}}</string>
                <key>sourceSize</key>
                <string>{53,32}</string>
            </dict>
            <key>part-diaoge_yaodaiguan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,275},{6,10}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{6,10}}</string>
                <key>sourceSize</key>
                <string>{10,60}</string>
            </dict>
            <key>part-diaoge_yaodaiguan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,285},{8,42}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{8,42}}</string>
                <key>sourceSize</key>
                <string>{10,60}</string>
            </dict>
            <key>part-diaoge_yaodaiguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,287},{12,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{12,38}}</string>
                <key>sourceSize</key>
                <string>{16,60}</string>
            </dict>
            <key>part-diaoge_yaodaiguan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{18,38}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{18,38}}</string>
                <key>sourceSize</key>
                <string>{22,60}</string>
            </dict>
            <key>part-diaoge_yaodaiguan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,213},{19,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{19,38}}</string>
                <key>sourceSize</key>
                <string>{25,52}</string>
            </dict>
            <key>part-diaoge_yaodaiguan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,291},{19,36}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{19,36}}</string>
                <key>sourceSize</key>
                <string>{25,60}</string>
            </dict>
            <key>part-diaoge_yaodaiguan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,253},{19,36}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{19,36}}</string>
                <key>sourceSize</key>
                <string>{25,60}</string>
            </dict>
            <key>part-diaoge_yaodaiguan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,169},{20,42}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{20,42}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>part-diaoge_yaodaiguan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,125},{20,42}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{20,42}}</string>
                <key>sourceSize</key>
                <string>{26,60}</string>
            </dict>
            <key>part-diaoge_yaodaiguan9.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,81},{15,42}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{15,42}}</string>
                <key>sourceSize</key>
                <string>{19,60}</string>
            </dict>
            <key>part-diaoge_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{71,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,91}}</string>
                <key>sourceSize</key>
                <string>{71,91}</string>
            </dict>
            <key>part-diaoge_youwaitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,120},{55,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,133}}</string>
                <key>sourceSize</key>
                <string>{55,133}</string>
            </dict>
            <key>part-diaoge_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{67,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,87}}</string>
                <key>sourceSize</key>
                <string>{67,87}</string>
            </dict>
            <key>part-diaoge_zuowaitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{69,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,141}}</string>
                <key>sourceSize</key>
                <string>{69,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diaoge.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79241bee8cc4e5a294c20e373ca340f5$</string>
            <key>textureFileName</key>
            <string>diaoge.pvr.ccz</string>
        </dict>
    </dict>
</plist>
