<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-fxz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>part-fxz_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{147,119}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{147,119}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>part-fxz_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{73,91}}</string>
                <key>offset</key>
                <string>{-19,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{73,91}}</string>
                <key>sourceSize</key>
                <string>{111,117}</string>
            </dict>
            <key>part-fxz_lh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,77},{70,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,89}}</string>
                <key>sourceSize</key>
                <string>{70,89}</string>
            </dict>
            <key>part-fxz_lh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,286},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>part-fxz_lh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>part-fxz_lh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,149},{29,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,70}}</string>
                <key>sourceSize</key>
                <string>{29,70}</string>
            </dict>
            <key>part-fxz_lh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{34,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,68}}</string>
                <key>sourceSize</key>
                <string>{34,68}</string>
            </dict>
            <key>part-fxz_mz.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,272},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>part-fxz_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,149},{135,71}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,76},{135,71}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>part-fxz_shan.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,286},{36,34}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,34}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>part-fxz_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,272},{54,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
            <key>part-fxz_y1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,221},{65,29}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,43},{65,29}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>part-fxz_ys1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,310},{35,46}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,60}</string>
            </dict>
            <key>part-fxz_ys2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,310},{29,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>part-fxz_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,77},{11,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,27}}</string>
                <key>sourceSize</key>
                <string>{11,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengxingzhetouxiang.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a8ba7af0442cf17e538e07e3b67acf4:1/1$</string>
            <key>textureFileName</key>
            <string>fengxingzhetouxiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
