<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-jnjx_1duan_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{67,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>part-jnjx_2duan_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,57},{51,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,61}}</string>
                <key>sourceSize</key>
                <string>{55,67}</string>
            </dict>
            <key>part-jnjx_2duan_y1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,39},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>part-jnjx_2duan_y10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,304},{78,80}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{78,80}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{82,84}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{82,84}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y13.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,106},{84,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{84,88}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y14.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,210},{86,92}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{86,92}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y15.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,314},{86,96}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{86,96}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{90,100}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{90,100}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{92,102}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{92,102}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{94,102}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{94,102}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,102}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{96,102}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>part-jnjx_2duan_y20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{94,98}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{94,98}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y21.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,412},{92,94}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{92,94}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y22.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,66},{36,26}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,25},{36,26}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y23.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,386},{36,22}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{36,22}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y24.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,412},{2,2}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,46},{2,2}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_2duan_y3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,126},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>part-jnjx_2duan_y4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,110},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>part-jnjx_2duan_y5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,73},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>part-jnjx_2duan_y6.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,54},{58,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,61}}</string>
                <key>sourceSize</key>
                <string>{58,61}</string>
            </dict>
            <key>part-jnjx_2duan_y7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,57},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>part-jnjx_2duan_y8.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>part-jnjx_2duan_y9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,410},{74,76}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{74,76}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>part-jnjx_3duan_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>part-jnjx_4duan_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juexingjineng_shengji.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c17cc1fef760850754bfaafbbd73d1a6$</string>
            <key>textureFileName</key>
            <string>juexingjineng_shengji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
