<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-kqjxx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,135}}</string>
                <key>sourceSize</key>
                <string>{465,135}</string>
            </dict>
            <key>part-kqjxx2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,187},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>part-kqjxx2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{199,84}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{199,84}}</string>
                <key>sourceSize</key>
                <string>{229,96}</string>
            </dict>
            <key>part-kqjxx3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,78},{107,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,16}}</string>
                <key>sourceSize</key>
                <string>{107,18}</string>
            </dict>
            <key>part-kqjxx3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,90},{55,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,16}}</string>
                <key>sourceSize</key>
                <string>{55,18}</string>
            </dict>
            <key>part-kqjxx3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,20},{68,17}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,17}}</string>
                <key>sourceSize</key>
                <string>{70,19}</string>
            </dict>
            <key>part-kqjxx3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{41,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,16}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>part-kqjxx3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{53,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,16}}</string>
                <key>sourceSize</key>
                <string>{53,18}</string>
            </dict>
            <key>part-kqjxx3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,20},{56,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{60,19}</string>
            </dict>
            <key>part-kqjxx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,383},{87,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,92}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>part-kqjxx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,187},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>part-kqjxx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,279},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>part-kqjxx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{95,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,91}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juexingkaiqi.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:607ce1c28005bb9eb2c4088e23664c35$</string>
            <key>textureFileName</key>
            <string>juexingkaiqi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
