<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-jxcg_baoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,491},{161,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,208}}</string>
                <key>sourceSize</key>
                <string>{161,208}</string>
            </dict>
            <key>part-jxcg_baoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{161,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,208}}</string>
                <key>sourceSize</key>
                <string>{161,208}</string>
            </dict>
            <key>part-jxcg_baoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,328},{161,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,208}}</string>
                <key>sourceSize</key>
                <string>{161,208}</string>
            </dict>
            <key>part-jxcg_baoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{161,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,208}}</string>
                <key>sourceSize</key>
                <string>{161,208}</string>
            </dict>
            <key>part-jxcg_baoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,165},{161,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,208}}</string>
                <key>sourceSize</key>
                <string>{161,208}</string>
            </dict>
            <key>part-jxcg_baoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{161,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,208}}</string>
                <key>sourceSize</key>
                <string>{161,208}</string>
            </dict>
            <key>part-jxcg_baoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{161,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,208}}</string>
                <key>sourceSize</key>
                <string>{161,208}</string>
            </dict>
            <key>part-jxcg_baoguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,208}}</string>
                <key>sourceSize</key>
                <string>{161,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jxcg_baoguang.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8d66fdd79fdaf945c8377e0a91dd00d$</string>
            <key>textureFileName</key>
            <string>jxcg_baoguang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
