<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leidi_biyan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,439},{55,11}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,11}}</string>
                <key>sourceSize</key>
                <string>{55,15}</string>
            </dict>
            <key>leidi_maohui_tx0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,384},{42,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{42,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,384},{42,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{42,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,384},{42,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{42,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,384},{42,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{42,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,336},{42,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{42,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,224},{44,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{44,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,222},{44,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{44,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,138},{44,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{44,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,218},{46,50}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{46,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,176},{46,50}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{46,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,170},{46,50}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{46,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,176},{44,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{44,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,192},{42,50}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{42,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,236},{42,50}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{42,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,184},{42,50}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{42,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,50},{44,52}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{44,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,439},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{46,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,439},{46,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{46,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{46,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{46,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,425},{44,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{46,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{46,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,96},{46,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{46,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,144},{46,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{46,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,96},{46,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{46,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,92},{44,48}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{44,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,266},{42,48}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{42,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,192},{42,46}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{42,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,288},{42,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{42,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maohui_tx0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,384},{42,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{42,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>leidi_maoyan_tx0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,152},{88,22}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{88,22}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,128},{88,22}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{88,22}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,92},{88,22}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{88,22}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,343},{94,36}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{94,36}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{96,38}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{96,38}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{96,38}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{96,38}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,343},{94,40}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{94,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{92,40}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{92,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,128},{88,40}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{88,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,86},{88,40}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{88,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,86},{88,40}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{88,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,44},{88,40}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{88,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,44},{88,40}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{88,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{88,40}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{88,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{88,40}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{88,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,335},{88,40}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{88,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,245},{88,40}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{88,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{88,40}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{88,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,151},{92,40}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{92,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,247},{94,40}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{94,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,151},{94,40}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{94,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{94,40}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{94,40}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,247},{94,38}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{94,38}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,151},{94,38}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{94,38}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{88,22}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{88,22}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,481},{88,22}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{88,22}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,152},{88,22}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{88,22}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_maoyan_tx0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,152},{88,22}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{88,22}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>leidi_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>leiditouxiang.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4b1704103bc4f3f26ae37da38fa160c:1/1$</string>
            <key>textureFileName</key>
            <string>leiditouxiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
