<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-du_guanzhu2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{76,145}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{76,145}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,147}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{80,147}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{80,147}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{80,147}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{80,145}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{80,145}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{80,141}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{80,141}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,449},{80,139}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{80,139}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,743},{80,139}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{80,139}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{80,139}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{80,139}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,596},{80,139}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{80,139}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,878},{78,139}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{78,139}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,737},{78,139}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{78,139}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,590},{78,139}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{78,139}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,302},{78,145}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{78,145}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,298},{76,145}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{76,145}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,449},{76,145}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{76,145}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,151},{76,145}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{76,145}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,151},{78,149}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{78,149}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{80,149}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{80,149}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,149}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{80,149}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,147}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{80,147}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poison_border1.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f2283efd79da491fd273472aa83d7c:1/1$</string>
            <key>textureFileName</key>
            <string>poison_border1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
