<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-du_guanzhu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,339},{76,167}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{76,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,490},{82,161}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{82,161}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,417},{82,161}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{82,161}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,330},{82,167}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,255},{82,167}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{82,167}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,171},{82,161}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{82,161}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,501},{80,159}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{80,159}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{80,159}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{80,159}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{74,167}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{74,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,86},{74,171}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{74,171}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{80,167}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{80,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,414},{74,167}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{74,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{80,175}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{80,175}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{82,175}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{82,175}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,175}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{82,175}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,246},{82,167}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{82,167}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,162},{82,167}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>part-du_guanzhu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{82,167}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,167}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poison_border.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:387a6cc7fcb09f61938e49b7d9225b01:1/1$</string>
            <key>textureFileName</key>
            <string>poison_border.pvr.ccz</string>
        </dict>
    </dict>
</plist>
