<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-+.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,426},{19,18}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{19,18}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>part-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,292},{19,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{19,26}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>part-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,292},{17,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{17,26}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>part-baozha_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,141},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>part-baozha_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>part-baozha_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,204},{75,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,64}}</string>
                <key>sourceSize</key>
                <string>{75,64}</string>
            </dict>
            <key>part-baozha_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,241},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
            <key>part-baozha_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,334},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>part-baozha_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,372},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>part-baozha_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,386},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>part-baozha_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,194},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>part-baozha_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,424},{55,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>part-baozha_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>part-baozha_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{61,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,59}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>part-baozha_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>part-baozha_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,280},{67,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>part-baozha_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,214},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>part-baozha_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,226},{69,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>part-baozha_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,163},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
            <key>part-chutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,427},{57,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{57,56}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>part-chutou_hua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,341},{25,29}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{25,29}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>part-chutou_hua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,335},{27,25}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{27,25}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>part-chutou_hua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,377},{31,29}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{31,29}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>part-chutou_hua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,347},{35,33}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{35,33}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>part-chutou_hua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,347},{37,35}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{37,35}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>part-dankeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,136}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>part-feixuxxx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,163},{70,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,49}}</string>
                <key>sourceSize</key>
                <string>{70,49}</string>
            </dict>
            <key>part-hongxianx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,472},{20,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>part-hongxianx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,449},{20,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>part-hongxianx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,426},{20,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>part-hongxianx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,305},{20,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>part-hongxianx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,341},{20,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>part-hongxianx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,305},{20,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>part-hongxianx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,449},{20,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>part-jidixx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{78,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,62}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>part-jidixxxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{131,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{131,88}}</string>
                <key>sourceSize</key>
                <string>{143,100}</string>
            </dict>
            <key>part-k.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,305},{18,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>part-kaipao_huoshe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{26,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,100}}</string>
                <key>sourceSize</key>
                <string>{26,102}</string>
            </dict>
            <key>part-kaipao_huoshe10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,51},{50,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,133}}</string>
                <key>sourceSize</key>
                <string>{50,133}</string>
            </dict>
            <key>part-kaipao_huoshe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,151},{32,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,112}}</string>
                <key>sourceSize</key>
                <string>{32,112}</string>
            </dict>
            <key>part-kaipao_huoshe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,129},{32,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,120}}</string>
                <key>sourceSize</key>
                <string>{32,122}</string>
            </dict>
            <key>part-kaipao_huoshe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,103},{36,125}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{36,125}}</string>
                <key>sourceSize</key>
                <string>{36,133}</string>
            </dict>
            <key>part-kaipao_huoshe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,88},{39,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,127}}</string>
                <key>sourceSize</key>
                <string>{39,127}</string>
            </dict>
            <key>part-kaipao_huoshe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,47},{39,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{39,134}}</string>
                <key>sourceSize</key>
                <string>{53,134}</string>
            </dict>
            <key>part-kaipao_huoshe7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{43,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{43,134}}</string>
                <key>sourceSize</key>
                <string>{53,134}</string>
            </dict>
            <key>part-kaipao_huoshe9.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{47,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,134}}</string>
                <key>sourceSize</key>
                <string>{53,134}</string>
            </dict>
            <key>part-luxianx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,426},{20,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>part-luxianx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,486},{20,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>part-luxianx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,488},{20,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>part-luxianx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,347},{20,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>part-luxianx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,182},{20,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>part-luxianx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,168},{20,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>part-luxianx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,129},{20,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>part-qiyouxxx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,386},{36,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>part-shuijingyy.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,421},{54,44}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{54,44}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>part-shuijingyyx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,384},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>part-taikuangxx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,140},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>part-tiexxx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,486},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>part-tongkuangx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,477},{53,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,32}}</string>
                <key>sourceSize</key>
                <string>{53,32}</string>
            </dict>
            <key>part-xiaotk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,481},{46,29}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{46,29}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>part-xiaotk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>part-xiaotk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,483},{48,27}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,27}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>part-yuanjun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,386},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>part-zhiwux1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,141},{76,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,71}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>part-zhiwux2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,425},{56,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>part-zhiwux3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,281},{66,51}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,51}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tanke_caikuang.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2a19504fa61cbb1dbb90c8cf189191e$</string>
            <key>textureFileName</key>
            <string>tanke_caikuang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
