<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-v3_xb_qifei_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,476},{204,230}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{204,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,236}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{200,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,232},{198,222}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{198,222}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,196},{196,218}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,28},{196,218}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,456},{196,212}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{196,212}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{194,222}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{194,222}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,708},{194,226}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{194,226}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,240},{206,228}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{206,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{198,234}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{198,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{194,232}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{194,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{192,228}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,22},{192,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,470},{192,224}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{192,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{192,222}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{192,222}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,696},{194,218}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{194,218}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{206,230}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{206,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-v3_xb_qifei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{202,228}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{202,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>v3_xb_qifei_output.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90b481c9096aecd4bb779743f7675724:1/1$</string>
            <key>textureFileName</key>
            <string>v3_xb_qifei_output.pvr.ccz</string>
        </dict>
    </dict>
</plist>
