<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-ccc_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{53,28}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{53,28}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,40},{57,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{57,32}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{61,36}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{61,36}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,40},{57,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{57,32}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,38}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,38}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,40},{61,32}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{61,32}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,174},{55,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{55,30}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,212},{55,36}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{55,36}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{55,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{55,32}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{59,36}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{59,36}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,256},{53,36}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{53,36}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{59,34}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{59,34}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-ccc_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{61,36}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{61,36}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>part-gcs_papa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,321},{41,27}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa10.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,395},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,23}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa11.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,377},{39,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{39,24}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>part-gcs_papa12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,210},{41,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{41,24}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>part-gcs_papa13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,167},{41,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{41,24}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>part-gcs_papa14.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,124},{41,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{41,24}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>part-gcs_papa15.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,340},{41,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>part-gcs_papa16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{41,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>part-gcs_papa17.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,311},{41,27}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa18.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,350},{41,25}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{41,25}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa19.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,350},{41,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{41,25}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,292},{41,27}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{41,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{41,25}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa21.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,322},{41,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>part-gcs_papa22.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,316},{41,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>part-gcs_papa23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{41,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>part-gcs_papa24.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,294},{41,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>part-gcs_papa25.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,287},{41,27}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,282},{41,27}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,258},{41,27}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,350},{41,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,25}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,344},{41,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,25}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa7.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,371},{39,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{39,25}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa8.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,368},{39,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{39,25}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-gcs_papa9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,377},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,23}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>part-xsyd1_baozhaz0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,253},{37,38}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{37,38}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{53,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{53,48}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,206},{53,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{53,48}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,124},{55,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{55,48}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,74},{55,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{55,48}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,124},{55,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{55,44}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,124},{55,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{55,44}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,74},{55,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{55,48}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{55,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{55,48}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,74},{55,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{55,48}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{55,44}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{55,44}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,170},{55,40}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{55,40}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,214},{53,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{53,42}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,170},{55,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{55,42}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,250},{45,30}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{45,30}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>part-xsyd1_baozhaz0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{49,30}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{49,30}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gongchengshi_papa.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47e5c54145058a4d9347a564c65d7029:1/1$</string>
            <key>textureFileName</key>
            <string>gongchengshi_papa.pvr.ccz</string>
        </dict>
    </dict>
</plist>
