<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anxing_jineng__0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1302},{272,240}}</string>
                <key>offset</key>
                <string>{21,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,92},{272,240}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,784},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,784},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,524},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{282,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,92},{282,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,260}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{282,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{280,260}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,90},{280,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,262},{280,260}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,90},{280,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{280,260}}</string>
                <key>offset</key>
                <string>{25,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{280,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1044},{280,256}}</string>
                <key>offset</key>
                <string>{25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{280,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{280,256}}</string>
                <key>offset</key>
                <string>{25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{280,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,524},{280,258}}</string>
                <key>offset</key>
                <string>{25,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1044},{280,256}}</string>
                <key>offset</key>
                <string>{25,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,92},{280,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,264},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anxing_juexingjinengxunhuan.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11bdedb71d1185d3e635e65c3fd055d1:1/1$</string>
            <key>textureFileName</key>
            <string>anxing_juexingjinengxunhuan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
