<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anxing_jineng__0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,736},{120,28}}</string>
                <key>offset</key>
                <string>{11,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,92},{120,28}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,264},{140,40}}</string>
                <key>offset</key>
                <string>{12,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,92},{140,40}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,936},{178,70}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,91},{178,70}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,736},{214,110}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,92},{214,110}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{244,156}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,91},{244,156}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,736},{258,198}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{258,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,508},{268,226}}</string>
                <key>offset</key>
                <string>{20,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,91},{268,226}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,766},{272,242}}</string>
                <key>offset</key>
                <string>{22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,90},{272,242}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,264},{272,242}}</string>
                <key>offset</key>
                <string>{22,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,91},{272,242}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,522},{272,242}}</string>
                <key>offset</key>
                <string>{22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,90},{272,242}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,522},{272,242}}</string>
                <key>offset</key>
                <string>{21,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{272,242}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,766},{272,236}}</string>
                <key>offset</key>
                <string>{21,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,91},{272,236}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,782},{272,238}}</string>
                <key>offset</key>
                <string>{21,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{272,238}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,782},{272,238}}</string>
                <key>offset</key>
                <string>{21,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,91},{272,238}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,782},{272,240}}</string>
                <key>offset</key>
                <string>{21,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,92},{272,240}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,262},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,262},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{282,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,92},{282,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{282,260}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{282,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,262},{280,260}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,90},{280,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,262},{280,260}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,90},{280,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,2},{280,260}}</string>
                <key>offset</key>
                <string>{25,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{280,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,524},{280,256}}</string>
                <key>offset</key>
                <string>{25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{280,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,524},{280,256}}</string>
                <key>offset</key>
                <string>{25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{280,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{280,258}}</string>
                <key>offset</key>
                <string>{25,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,262},{280,256}}</string>
                <key>offset</key>
                <string>{25,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,92},{280,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jineng__0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{280,258}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{280,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>anxing_jinengx2_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,252}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,68},{324,252}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anxing_juexingjineng.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa18dc6b24f8c8c20489917d56247eed:1/1$</string>
            <key>textureFileName</key>
            <string>anxing_juexingjineng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
