<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-boss_baozha_huo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,36},{19,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{19,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo12.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,55},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo14.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,74},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,15}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{19,15}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo19.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,93},{19,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,112},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo20.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,131},{17,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo21.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{17,15}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{17,15}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{17,15}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{17,15}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{17,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,150},{17,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{19,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,169},{19,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,188},{19,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-boss_baozha_huo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,19},{19,15}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{19,15}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>part-hy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_gun_die.pvr.ccz</string>
            <key>size</key>
            <string>{46,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c50c45cf4c5d792d2e14962d134b373:b6f31a8722052d1297ab2f8dd7a46413:63ce1fdab9ce26dc19313f53fc2079c8$</string>
            <key>textureFileName</key>
            <string>boss_gun_die.pvr.ccz</string>
        </dict>
    </dict>
</plist>
