<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-boss_jg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,134}}</string>
                <key>sourceSize</key>
                <string>{640,134}</string>
            </dict>
            <key>part-boss_jg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{305,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{305,84}}</string>
                <key>sourceSize</key>
                <string>{315,90}</string>
            </dict>
            <key>part-boss_jg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,644},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>part-boss_jg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{640,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,35}}</string>
                <key>sourceSize</key>
                <string>{640,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_jg_output.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d38042826c328fb19d7e0e2ed960a007:1/1$</string>
            <key>textureFileName</key>
            <string>boss_jg_output.pvr.ccz</string>
        </dict>
    </dict>
</plist>
