<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-b_huopao_baozha0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{196,306}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,53},{196,306}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{188,308}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,54},{188,308}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,308}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,56},{188,308}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,192},{190,298}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,64},{190,298}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,354},{192,292}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,63},{192,292}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,734},{194,274}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,68},{194,274}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{194,274}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,71},{194,274}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,748},{188,272}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,74},{188,272}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,938},{184,260}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,69},{184,260}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,930},{184,266}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,65},{184,266}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{186,272}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,61},{186,272}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,558},{188,276}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,57},{188,276}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,548},{184,282}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,53},{184,282}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{182,286}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,50},{182,286}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,384},{172,292}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,46},{172,292}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{174,296}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,43},{174,296}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,200},{152,296}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,41},{152,296}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{144,300}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,38},{144,300}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,548},{144,268}}</string>
                <key>offset</key>
                <string>{-13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,37},{144,268}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,818},{146,264}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,35},{146,264}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{88,266}}</string>
                <key>offset</key>
                <string>{16,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,34},{88,266}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,192},{12,38}}</string>
                <key>offset</key>
                <string>{-22,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,86},{12,38}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozha0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{2,4}}</string>
                <key>offset</key>
                <string>{-18,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,119},{2,4}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>part-b_huopao_baozhabing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{210,228}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,50},{210,228}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>part-b_huopao_baozhabingci.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,270},{82,70}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{82,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_1_t_3_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd6ad7526bc3e58f0ae7891d94ccadd4:1/1$</string>
            <key>textureFileName</key>
            <string>bt_1_t_3_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
