<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-b_tanke_xiaopaodan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,48}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{10,48}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_1_ammo_1_13.pvr.ccz</string>
            <key>size</key>
            <string>{16,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8470febfadff411042c255bae8b9336a:1/1$</string>
            <key>textureFileName</key>
            <string>bt_1_ammo_1_13.pvr.ccz</string>
        </dict>
    </dict>
</plist>
