<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-b_zhanche_huohua01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{75,65}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,105},{75,65}}</string>
                <key>sourceSize</key>
                <string>{267,267}</string>
            </dict>
            <key>part-b_zhanche_huohua02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,210},{87,87}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,91},{87,87}}</string>
                <key>sourceSize</key>
                <string>{267,267}</string>
            </dict>
            <key>part-b_zhanche_huohua03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{115,93}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,73},{115,93}}</string>
                <key>sourceSize</key>
                <string>{267,267}</string>
            </dict>
            <key>part-b_zhanche_huohua04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,123}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,56},{143,123}}</string>
                <key>sourceSize</key>
                <string>{267,267}</string>
            </dict>
            <key>part-b_zhanche_huohua05.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{107,119}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,61},{107,119}}</string>
                <key>sourceSize</key>
                <string>{267,267}</string>
            </dict>
            <key>part-b_zhanche_huohua06.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,123},{85,103}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,81},{85,103}}</string>
                <key>sourceSize</key>
                <string>{267,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_1_t_2_hurt_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce5d941c71d7af6396e761fbdff80677:1/1$</string>
            <key>textureFileName</key>
            <string>bt_1_t_2_hurt_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
