<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-b_baozha_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1648},{164,176}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,86},{164,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1474},{172,182}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,81},{172,182}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1814},{196,202}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,65},{196,202}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1814},{208,228}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{208,228}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1814},{228,242}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,46},{228,242}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1500},{244,260}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,38},{244,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1474},{256,266}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,40},{256,266}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1232},{266,272}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,41},{266,272}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,932},{278,280}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,39},{278,280}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{284,290}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,35},{284,290}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{292,298}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{292,298}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,932},{298,302}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{298,302}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,630},{300,306}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{300,306}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,624},{306,312}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,312}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,320},{308,314}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{308,314}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{310,316}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{310,316}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{314,320}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{314,320}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,322}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{314,322}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{316,320}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,28},{316,320}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,314},{308,316}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{308,316}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{300,302}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{300,302}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1212},{280,260}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,59},{280,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_1_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>part-b_baozha_bilie.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1732},{156,166}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,46},{156,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>part-b_baozha_jianci.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,932},{82,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{82,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_1_t_1_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b931c70e17568f7c4bc3690d6703fe20:1/1$</string>
            <key>textureFileName</key>
            <string>bt_1_t_1_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
