<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-huojianche_daodan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,84}}</string>
                <key>sourceSize</key>
                <string>{25,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_ammo_4_16.pvr.ccz</string>
            <key>size</key>
            <string>{24,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fb191cbd4ab0eab37a51a6c4740ac10:ff7006487011cc010b5e28c33a011cb6:cff47d8b5369a7c74d771abffecc05e6$</string>
            <key>textureFileName</key>
            <string>bt_ammo_4_16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
