<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-huojianche_daodan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{11,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,58}}</string>
                <key>sourceSize</key>
                <string>{11,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_ammo_4_1.pvr.ccz</string>
            <key>size</key>
            <string>{62,15}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5790d0985373bc26aa656a8d2b210f39:da6017c066afc56b8b92c1f95fce18c4:4d214035e4115d437492804d35d79aeb$</string>
            <key>textureFileName</key>
            <string>bt_ammo_4_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
