<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-tanke_xiaopaodan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{9,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{9,48}}</string>
                <key>sourceSize</key>
                <string>{11,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_ammo_1_5.pvr.ccz</string>
            <key>size</key>
            <string>{14,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a9abd149e13fdaf1f171c4e4512f6a8:5ee5ff297f4548bf303ccba36592bdc0:2a169d29dac79235ba92cf418b8571b5$</string>
            <key>textureFileName</key>
            <string>bt_ammo_1_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
