<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-jiqiang_huoshe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{101,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,34}}</string>
                <key>sourceSize</key>
                <string>{103,36}</string>
            </dict>
            <key>part-jiqiang_huoshe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,311},{95,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{95,18}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>part-jiqiang_huoshe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{101,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,45}}</string>
                <key>sourceSize</key>
                <string>{103,47}</string>
            </dict>
            <key>part-jiqiang_huoshe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{95,30}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{95,30}}</string>
                <key>sourceSize</key>
                <string>{103,32}</string>
            </dict>
            <key>part-jiqiang_huoshe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,58}}</string>
                <key>sourceSize</key>
                <string>{103,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_fire_2_10.pvr.ccz</string>
            <key>size</key>
            <string>{62,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc825fa19f3ce5a3926e9fdf2288c247:b48080cba1eb8689f8e680809413d404:b7a7af57264eb606de03ab4c91c519e4$</string>
            <key>textureFileName</key>
            <string>bt_fire_2_10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
