<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-chuanjiadan_huoshe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,388},{45,103}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,103}}</string>
                <key>sourceSize</key>
                <string>{45,109}</string>
            </dict>
            <key>part-chuanjiadan_huoshe10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{61,133}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{61,133}}</string>
                <key>sourceSize</key>
                <string>{63,145}</string>
            </dict>
            <key>part-chuanjiadan_huoshe11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{61,99}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{61,99}}</string>
                <key>sourceSize</key>
                <string>{63,145}</string>
            </dict>
            <key>part-chuanjiadan_huoshe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,269},{48,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,117}}</string>
                <key>sourceSize</key>
                <string>{48,117}</string>
            </dict>
            <key>part-chuanjiadan_huoshe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,144},{47,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,123}}</string>
                <key>sourceSize</key>
                <string>{47,123}</string>
            </dict>
            <key>part-chuanjiadan_huoshe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{56,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,134}}</string>
                <key>sourceSize</key>
                <string>{56,134}</string>
            </dict>
            <key>part-chuanjiadan_huoshe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{53,140}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{53,140}}</string>
                <key>sourceSize</key>
                <string>{53,150}</string>
            </dict>
            <key>part-chuanjiadan_huoshe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,150}}</string>
                <key>sourceSize</key>
                <string>{63,150}</string>
            </dict>
            <key>part-chuanjiadan_huoshe7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{63,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,150}}</string>
                <key>sourceSize</key>
                <string>{63,150}</string>
            </dict>
            <key>part-chuanjiadan_huoshe8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{63,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,150}}</string>
                <key>sourceSize</key>
                <string>{63,150}</string>
            </dict>
            <key>part-chuanjiadan_huoshe9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{63,133}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{63,133}}</string>
                <key>sourceSize</key>
                <string>{63,145}</string>
            </dict>
            <key>part-chuanjiadan_kezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,711},{5,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,24}}</string>
                <key>sourceSize</key>
                <string>{5,24}</string>
            </dict>
            <key>part-chuanjiadan_qilang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,493},{32,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{34,16}</string>
            </dict>
            <key>part-chuanjiadan_qilang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,527},{27,7}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,7}}</string>
                <key>sourceSize</key>
                <string>{31,9}</string>
            </dict>
            <key>part-chuanjiadan_qilang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,813},{34,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>part-chuanjiadan_qilang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,931},{32,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,57}}</string>
                <key>sourceSize</key>
                <string>{34,59}</string>
            </dict>
            <key>part-chuanjiadan_qilang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,849},{32,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,80}}</string>
                <key>sourceSize</key>
                <string>{34,82}</string>
            </dict>
            <key>part-chuanjiadan_qilang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,493},{33,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{33,102}}</string>
                <key>sourceSize</key>
                <string>{35,106}</string>
            </dict>
            <key>part-chuanjiadan_qilang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,597},{33,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,112}}</string>
                <key>sourceSize</key>
                <string>{35,114}</string>
            </dict>
            <key>part-chuanjiadan_qilang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,728},{30,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,83}}</string>
                <key>sourceSize</key>
                <string>{32,85}</string>
            </dict>
            <key>part-chuanjiadan_qilang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,711},{30,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,61}}</string>
                <key>sourceSize</key>
                <string>{32,63}</string>
            </dict>
            <key>part-chuanjiadan_qilang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,774},{27,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_fire_3_23.pvr.ccz</string>
            <key>size</key>
            <string>{124,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f13acd925177e76c51f5c2fd2f26707d:42e351af6db852f5620e5dff03324a24:8a7b8049536a0c170cb7022be420644d$</string>
            <key>textureFileName</key>
            <string>bt_fire_3_23.pvr.ccz</string>
        </dict>
    </dict>
</plist>
