<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-zhanche_huohua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{124,161}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,161}}</string>
                <key>sourceSize</key>
                <string>{126,165}</string>
            </dict>
            <key>part-zhanche_huohua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{133,152}}</string>
                <key>sourceSize</key>
                <string>{137,158}</string>
            </dict>
            <key>part-zhanche_huohua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{42,92}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,92}}</string>
                <key>sourceSize</key>
                <string>{46,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_t_2_hurt_1.pvr.ccz</string>
            <key>size</key>
            <string>{138,363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0ffdbed29f7022de2e2945961b140f4:09b9c95da52affe7571b7da73ac630c9:bc21daacf8e2ec31e9be9d9284eb3263$</string>
            <key>textureFileName</key>
            <string>bt_t_2_hurt_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
