<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozha_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,77},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>baozha_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>baozha_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{75,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,64}}</string>
                <key>sourceSize</key>
                <string>{75,64}</string>
            </dict>
            <key>baozha_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,68},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
            <key>baozha_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,68},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>baozha_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>baozha_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>baozha_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>baozha_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{55,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>baozha_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,68},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>baozha_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,65},{61,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,59}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>baozha_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,50},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>baozha_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,59},{67,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>baozha_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>baozha_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{69,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>baozha_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_t_1_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{500,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebfab4e5b957b69c5db22c2155e1be9a:6b25a7f9cc2c9b857eab01743eb78c14:1262451bfe4cfebf0ad6ac884e86c1f5$</string>
            <key>textureFileName</key>
            <string>bt_t_1_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
