<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-huopao_jizhong_baozha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{79,150}</string>
            </dict>
            <key>part-huopao_jizhong_baozha10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,436},{92,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,184}}</string>
                <key>sourceSize</key>
                <string>{92,184}</string>
            </dict>
            <key>part-huopao_jizhong_baozha11.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,808},{85,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,179}}</string>
                <key>sourceSize</key>
                <string>{85,179}</string>
            </dict>
            <key>part-huopao_jizhong_baozha12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,223},{84,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,189}}</string>
                <key>sourceSize</key>
                <string>{84,189}</string>
            </dict>
            <key>part-huopao_jizhong_baozha13.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,842},{72,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,194}}</string>
                <key>sourceSize</key>
                <string>{72,196}</string>
            </dict>
            <key>part-huopao_jizhong_baozha14.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,210},{67,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,186}}</string>
                <key>sourceSize</key>
                <string>{67,186}</string>
            </dict>
            <key>part-huopao_jizhong_baozha15.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1038},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>part-huopao_jizhong_baozha16.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,398},{52,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,150}}</string>
                <key>sourceSize</key>
                <string>{52,150}</string>
            </dict>
            <key>part-huopao_jizhong_baozha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,989},{80,170}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,170}}</string>
                <key>sourceSize</key>
                <string>{84,172}</string>
            </dict>
            <key>part-huopao_jizhong_baozha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{87,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,196}}</string>
                <key>sourceSize</key>
                <string>{89,196}</string>
            </dict>
            <key>part-huopao_jizhong_baozha4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{93,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,208}}</string>
                <key>sourceSize</key>
                <string>{95,210}</string>
            </dict>
            <key>part-huopao_jizhong_baozha5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,219}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,219}}</string>
                <key>sourceSize</key>
                <string>{98,219}</string>
            </dict>
            <key>part-huopao_jizhong_baozha6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{102,206}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,206}}</string>
                <key>sourceSize</key>
                <string>{106,206}</string>
            </dict>
            <key>part-huopao_jizhong_baozha7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{94,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,211}}</string>
                <key>sourceSize</key>
                <string>{94,211}</string>
            </dict>
            <key>part-huopao_jizhong_baozha8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{98,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,194}}</string>
                <key>sourceSize</key>
                <string>{98,194}</string>
            </dict>
            <key>part-huopao_jizhong_baozha9.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,622},{95,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,184}}</string>
                <key>sourceSize</key>
                <string>{95,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bt_t_3_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{254,1208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b5fafca0d06efda5efb0b8e1030d519:d680af2578ba0bbebbc006c69d10d209:ab249d539d7079aaca493939dffd384a$</string>
            <key>textureFileName</key>
            <string>bt_t_3_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
