<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-dianjibuff_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{106,110}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,40},{106,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-dianjibuff_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,412},{96,100}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,45},{96,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-dianjibuff_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,144}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{134,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-dianjibuff_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{118,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{118,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-dianjibuff_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,136},{126,116}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,42},{126,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-dianjibuff_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,282},{128,124}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{128,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-dianjibuff_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{130,134}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{130,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-dianjibuff_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{122,140}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{122,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-dianjibuff_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,148},{120,132}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{120,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-dianjibuff_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{112,120}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,35},{112,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-dianjibuff_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{76,116}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,39},{76,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianjibuff.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa192d8565dfe19345dfb97a4d517806:1/1$</string>
            <key>textureFileName</key>
            <string>dianjibuff.pvr.ccz</string>
        </dict>
    </dict>
</plist>
