<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-jianglingjineng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,412},{90,98}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{90,98}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,200},{90,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{90,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{90,102}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{90,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{90,100}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{90,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,106},{90,100}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{90,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,104},{94,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{94,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,312},{92,98}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{92,98}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,412},{90,98}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{90,98}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,208},{90,96}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{90,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{90,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,102}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{94,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{94,100}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{94,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{92,98}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{92,98}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>part-jianglingjineng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{92,98}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{92,98}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juexing_jineng.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a9a788f2d1bbdb6a5adf37bf83a29bd$</string>
            <key>textureFileName</key>
            <string>juexing_jineng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
