<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-xsyd_ren_tiaosan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,136},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{38,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,61}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,111},{20,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,42},{18,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,115},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,103},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,110},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,71},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,42},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,79},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,93},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{604,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,493}}</string>
                <key>sourceSize</key>
                <string>{604,493}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{603,240}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,100},{603,240}}</string>
                <key>sourceSize</key>
                <string>{657,432}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{75,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{75,98}}</string>
                <key>sourceSize</key>
                <string>{77,106}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{75,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{75,98}}</string>
                <key>sourceSize</key>
                <string>{77,106}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{75,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{75,98}}</string>
                <key>sourceSize</key>
                <string>{77,106}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,77},{36,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,79},{36,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,79},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>part-xsyd_ren_tiaosan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,142},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xsyd_ren_tiaosan.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b37d7757123f99c872331536be6e2410:1/1$</string>
            <key>textureFileName</key>
            <string>xsyd_ren_tiaosan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
