<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-xsyd_ren1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{320,352}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,130},{320,352}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>part-xsyd_ren1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{320,354}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,128},{320,354}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>part-xsyd_ren1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{320,354}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,128},{320,354}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>part-xsyd_ren1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,354}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,128},{320,354}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>part-xsyd_ren1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,968},{320,350}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,130},{320,350}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>part-xsyd_ren1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,646},{320,352}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,130},{320,352}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>part-xsyd_ren1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{320,352}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,130},{320,352}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>part-xsyd_ren1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,324},{320,352}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,130},{320,352}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>part-xsyd_ren1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1848},{108,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,120}}</string>
                <key>sourceSize</key>
                <string>{108,120}</string>
            </dict>
            <key>part-xsyd_ren1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,324},{240,310}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,33},{240,310}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>part-xsyd_ren1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1848},{121,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{121,110}</string>
            </dict>
            <key>part-xsyd_ren1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1489},{85,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,108}}</string>
                <key>sourceSize</key>
                <string>{85,108}</string>
            </dict>
            <key>part-xsyd_ren1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1856},{95,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,127}}</string>
                <key>sourceSize</key>
                <string>{95,127}</string>
            </dict>
            <key>part-xsyd_ren1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1971},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>part-xsyd_ren1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{72,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,58}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>part-xsyd_ren1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1290},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>part-xsyd_ren1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,76},{68,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,57}}</string>
                <key>sourceSize</key>
                <string>{68,57}</string>
            </dict>
            <key>part-xsyd_ren1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1374},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>part-xsyd_ren1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{121,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,80}}</string>
                <key>sourceSize</key>
                <string>{121,80}</string>
            </dict>
            <key>part-xsyd_ren1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{130,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>part-xsyd_ren1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{246,320}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,34},{246,320}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>part-xsyd_ren1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1290},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>part-xsyd_ren1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1044},{244,328}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,33},{244,328}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>part-xsyd_ren1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,566},{238,310}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,34},{238,310}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>part-xsyd_ren1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{216,240}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,33},{216,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>part-xsyd_ren1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1616},{230,196}}</string>
                <key>offset</key>
                <string>{-4,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,33},{230,196}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>part-xsyd_ren1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{238,184}}</string>
                <key>offset</key>
                <string>{-4,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,33},{238,184}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>part-xsyd_ren1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,806},{236,246}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,33},{236,246}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xsyd_ren1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5ba6dc56af5b3b21f17026dc3fb8d47:1/1$</string>
            <key>textureFileName</key>
            <string>xsyd_ren1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
