<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-xsyd_baozha_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,998},{157,161}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{157,161}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1157},{159,157}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{159,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,338},{171,183}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{171,183}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,169},{167,185}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,21},{167,185}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{167,183}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,22},{167,183}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,503},{171,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,23},{171,179}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,833},{169,175}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,26},{169,175}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,177},{169,185}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{169,185}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,187}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{169,187}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,497},{167,181}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{167,181}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,676},{167,179}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{167,179}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,664},{167,179}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{167,179}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{159,159}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{159,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,493},{169,181}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{169,181}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{167,185}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,16},{167,185}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,169},{167,185}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{167,185}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{173,185}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{173,185}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,163},{169,185}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{169,185}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{165,187}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{165,187}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{165,187}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{165,187}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{159,187}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{159,187}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,334},{157,185}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{157,185}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,338},{157,183}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{157,183}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1147},{159,157}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{159,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,511},{159,179}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{159,179}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,348},{153,185}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{153,185}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,843},{153,171}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{153,171}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,839},{153,175}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,26},{153,175}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,994},{151,167}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{151,167}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{179,163}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{179,163}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{153,169}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,32},{153,169}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1004},{151,153}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,35},{151,153}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1163},{159,155}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,36},{159,155}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1004},{159,157}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{159,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,845},{159,157}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{159,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{175,169}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{175,169}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,672},{175,169}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{175,169}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>part-xsyd_baozha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,666},{171,175}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{171,175}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xsyd_baozha.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d3eb5faf35e684e659a4eaaaea34a9f:1/1$</string>
            <key>textureFileName</key>
            <string>xsyd_baozha.pvr.ccz</string>
        </dict>
    </dict>
</plist>
