<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-xsyd_jidiche_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,414},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1784},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1510},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1236},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,414},{272,200}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,200}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1852},{272,194}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,194}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,414},{272,196}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,196}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1852},{272,190}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{272,190}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,414},{272,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{272,202}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,962},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,688},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,414},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,208},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,208},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,208},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,208},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,208},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1578},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1304},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1030},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,756},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,482},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,208},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,2},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
            <key>part-xsyd_jidiche_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,204}}</string>
                <key>sourceSize</key>
                <string>{272,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xsyd_jidiche.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:060b0cfd6d42bd7e81f6c353a8ca3fae:1/1$</string>
            <key>textureFileName</key>
            <string>xsyd_jidiche.pvr.ccz</string>
        </dict>
    </dict>
</plist>
