<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-lcp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1007},{84,120}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,30},{84,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1005},{94,120}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{94,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,487},{68,124}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{68,124}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,999},{70,122}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{70,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,973},{70,126}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{70,126}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,919},{86,126}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{86,126}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,686},{82,124}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{82,124}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,93},{111,83}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{111,83}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1012},{109,87}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{109,87}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1045},{107,87}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{107,87}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,839},{88,124}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{88,124}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1117},{105,87}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{105,87}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1093},{103,85}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{103,85}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1134},{101,87}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{101,87}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,152},{105,91}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{105,91}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{111,89}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{111,89}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1101},{109,89}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{109,89}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,178},{109,107}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{109,107}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,287},{109,101}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{109,101}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,948},{107,115}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{107,115}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,839},{107,115}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{107,115}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,812},{82,120}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{82,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1057},{105,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{105,115}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1164},{103,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{103,113}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,390},{101,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{101,109}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1101},{99,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{99,101}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,320},{97,105}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{97,105}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{95,93}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{95,93}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1143},{93,93}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{93,93}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,259},{91,87}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{91,87}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1175},{91,81}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{91,81}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,348},{89,75}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{89,75}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,934},{76,116}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,34},{76,116}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,65},{85,67}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{85,67}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,613},{71,67}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{71,67}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>part-lcp_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{176,148}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,47},{176,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,647},{176,170}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{176,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,427},{190,176}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{190,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,493},{190,170}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{190,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,487},{190,158}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{190,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,605},{180,156}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,39},{180,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{168,156}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{168,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,451},{166,196}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{166,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,929},{74,122}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{74,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{160,190}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{160,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,619},{156,168}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,27},{156,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,763},{154,166}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,29},{154,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,819},{152,164}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,31},{152,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,685},{152,162}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,33},{152,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,777},{154,146}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,49},{154,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{162,158}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{162,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>part-lcp_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{190,552}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{190,552}}</string>
                <key>sourceSize</key>
                <string>{256,568}</string>
            </dict>
            <key>part-lcp_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{61,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,577}}</string>
                <key>sourceSize</key>
                <string>{61,577}</string>
            </dict>
            <key>part-lcp_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,646}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,646}}</string>
                <key>sourceSize</key>
                <string>{61,646}</string>
            </dict>
            <key>part-lcp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1071},{70,120}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,30},{70,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{165,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{165,453}}</string>
                <key>sourceSize</key>
                <string>{181,453}</string>
            </dict>
            <key>part-lcp_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{258,447}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{258,447}}</string>
                <key>sourceSize</key>
                <string>{438,535}</string>
            </dict>
            <key>part-lcp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,929},{70,122}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{70,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,925},{72,124}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{72,124}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>part-lcp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1053},{72,120}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{72,120}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lcp_output.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02d58a66782b0980fed08a5a6fd9e51d:1/1$</string>
            <key>textureFileName</key>
            <string>lcp_output.pvr.ccz</string>
        </dict>
    </dict>
</plist>
