<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-lcp_gongji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{275,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,350}}</string>
                <key>sourceSize</key>
                <string>{275,350}</string>
            </dict>
            <key>part-lcp_gongji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,797},{231,350}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{231,350}}</string>
                <key>sourceSize</key>
                <string>{275,350}</string>
            </dict>
            <key>part-lcp_gongji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1030},{203,350}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{203,350}}</string>
                <key>sourceSize</key>
                <string>{275,350}</string>
            </dict>
            <key>part-lcp_gongji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1255},{121,59}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,7},{121,59}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1470},{161,89}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,5},{161,89}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1223},{261,101}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{261,101}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1565},{239,99}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{239,99}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1528},{235,99}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{235,99}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1163},{261,99}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{261,99}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1120},{265,101}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{265,101}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,706},{267,103}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{267,103}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,354},{275,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,350}}</string>
                <key>sourceSize</key>
                <string>{275,350}</string>
            </dict>
            <key>part-lcp_gongji_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1015},{265,103}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{265,103}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{255,101}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{255,101}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1367},{255,99}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{255,99}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1326},{249,101}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{249,101}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{261,99}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{261,99}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1429},{249,97}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{249,97}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1751},{235,97}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{235,97}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1437},{249,95}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{249,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1338},{251,97}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{251,97}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{245,95}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{245,95}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,279},{275,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,350}}</string>
                <key>sourceSize</key>
                <string>{275,350}</string>
            </dict>
            <key>part-lcp_gongji_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1235},{233,103}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{233,103}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1534},{241,99}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{241,99}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1528},{221,101}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{221,101}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,914},{267,99}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{267,99}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,811},{267,101}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{267,101}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1235},{257,101}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{257,101}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1062},{191,71}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,9},{191,71}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>part-lcp_gongji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{275,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,350}}</string>
                <key>sourceSize</key>
                <string>{275,350}</string>
            </dict>
            <key>part-lcp_gongji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{275,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,350}}</string>
                <key>sourceSize</key>
                <string>{275,350}</string>
            </dict>
            <key>part-lcp_gongji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{275,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,350}}</string>
                <key>sourceSize</key>
                <string>{275,350}</string>
            </dict>
            <key>part-lcp_gongji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,350}}</string>
                <key>sourceSize</key>
                <string>{275,350}</string>
            </dict>
            <key>part-lcp_gongji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,556},{239,350}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{239,350}}</string>
                <key>sourceSize</key>
                <string>{275,350}</string>
            </dict>
            <key>part-lcp_gongji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{227,350}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{227,350}}</string>
                <key>sourceSize</key>
                <string>{275,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lcp_gongji_output.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9664989be774c591cb4c2e15207202f7:1/1$</string>
            <key>textureFileName</key>
            <string>lcp_gongji_output.pvr.ccz</string>
        </dict>
    </dict>
</plist>
