<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>part-lcp_xuli_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1030},{166,158}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{166,158}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,672},{214,202}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{214,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,470},{222,202}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{222,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,248},{238,204}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{238,204}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{236,208}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{236,208}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,242},{242,226}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{242,226}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,230},{244,246}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{244,250}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{244,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,250}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{250,226}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{250,226}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{250,238}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,864},{172,164}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{172,164}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,454},{216,232}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{216,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{214,228}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{214,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{214,178}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,41},{214,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,864},{180,170}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,876},{186,176}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{186,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,862},{188,180}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,674},{194,186}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{194,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,672},{198,190}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{198,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,476},{202,194}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{202,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>part-lcp_xuli_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{208,200}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{208,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lcp_xuli_output.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:833664c04a6837b02b5810b2d76a7d19:1/1$</string>
            <key>textureFileName</key>
            <string>lcp_xuli_output.pvr.ccz</string>
        </dict>
    </dict>
</plist>
